# ê¸°ì¶œ 7íšŒ_ì‘ì—…í˜•1

## ë¬¸ì œ1
ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” í–‰ì„ ì œê±°í•œ í›„, í•™ìƒì´ ê°€ì¥ ë§ì´ ìˆ˜ê°•í•œ ê³¼ëª©ì„ ì°¾ê³ , í•´ë‹¹ ê³¼ëª© ì ìˆ˜ë¥¼ í‘œì¤€í™”(ìŠ¤íƒ ë‹¤ìŠ¤ ìŠ¤ì¼€ì¼) í•œ ë’¤ì— í‘œì¤€í™”ëœ ê°€ì¥ í° ê°’ì„ êµ¬í•˜ì‹œì˜¤. (ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ ì…‹ì§¸ìë¦¬ê¹Œì§€ ê³„ì‚°)

In [72]:
# My)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_1/student_assessment.csv")

df = df.dropna()
# print(df.info())

grouped = df.groupby(['id_assessment'])['student_id'].count()
top = grouped.idxmax()

# print(grouped)
cond = df['id_assessment'] == top
df1 = df[cond].copy()
# print(df1)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df1['score'] = scaler.fit_transform(df1[['score']])
# print(df1)
print(round(df1.nlargest(1, 'score').iloc[-1]['score'], 3))

2.183

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_1/student_assessment.csv")

# 0) ë°ì´í„° í™•ì¸
print("ê²°ì¸¡ì¹˜ ìˆ˜:", df.isnull().sum().sum())

# 1) ê²°ì¸¡ì¹˜ ì œê±°
print(df.shape)
df = df.dropna()
print(df.shape)

# 2) ê°€ì¥ ë§ì´ ìˆ˜ê°•í•œ ê³¼ëª© í•„í„°ë§
id = df['id_assessment'].value_counts().idxmax()
cond = df['id_assessment'] == id
df = df[cond]

# 3) ê³¼ëª© ì ìˆ˜ ìŠ¤íƒ ë‹¤ë“œ ìŠ¤ì¼€ì¼
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df['score'] = scaler.fit_transform(df[['score']])

# 4) ê°€ì¥ í° ê°’
print(round(df['score'].max(), 3))

ê²°ì¸¡ì¹˜ ìˆ˜: 21
(2565, 4)
(2544, 4)
2.183

## ë¬¸ì œ2
DE1~DE77ì»¬ëŸ¼ ì¤‘ ì£¼ê°€ì§€ìˆ˜ì˜ ì¢…ê°€ "close"ì™€ ê°€ì¥ ìƒê´€ê´€ê³„ê°€ ë†’ì€ ë³€ìˆ˜ë¥¼ ì°¾ì•„, í•´ë‹¹ ë³€ìˆ˜ì˜ í‰ê· ê°’ì„ êµ¬í•˜ì‹œì˜¤. (ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ ë„·ì§¸ìë¦¬ê¹Œì§€ ê³„ì‚°)

In [85]:
# My)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_1/stock_market.csv")

df_corr = df.corr()['close'].abs()
col = df_corr.loc['DE1':'DE77'].idxmax()
# print(col)
print(round(df[col].mean(), 4))

-0.0004

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_1/stock_market.csv")

# 1) closeì™€ì˜ ìƒê´€ê´€ê³„(ì ˆëŒ€ê°’)
df_corr = df.corr()['close'].abs()

# 2) ìƒê´€ê´€ê³„ê°€ ë†’ì€ ë³€ìˆ˜ëª…
col = df_corr.loc['DE1':'DE77'].idxmax()

# 3) '2'ì—ì„œ êµ¬í•œ ë³€ìˆ˜ëª…ì˜ í‰ê· ê°’
print(round(df[col].mean(), 4))

-0.0004

## ë¬¸ì œ3
IQRì„ ì´ìš©í•´ ì´ì‚°í™”íƒ„ì†Œ(CO2) ì´ìƒì¹˜ ìˆ˜ë¥¼ ì°¾ìœ¼ì‹œì˜¤

- Q1 (ì œ 1ì‚¬ë¶„ìœ„ìˆ˜): í•˜ìœ„ 25% ê°’
- Q3 (ì œ 3ì‚¬ë¶„ìœ„ìˆ˜): ìƒìœ„ 25% ê°’
- IQR (ì‚¬ë¶„ìœ„ìˆ˜ ë²”ìœ„): IQR = Q3 - Q1

- lower (í•˜í•œì„ ): Q1 - 1.5 * IQR, ì´ ê°’ë³´ë‹¤ ì‘ì€ ë°ì´í„°ëŠ” ì´ìƒì¹˜ë¡œ ê°„ì£¼
- upper (ìƒí•œì„ ): Q3 + 1.5 * IQR, ì´ ê°’ë³´ë‹¤ í° ë°ì´í„°ëŠ” ì´ìƒì¹˜ë¡œ ê°„ì£¼

In [92]:
# My) 

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_1/air_quality.csv")

# print(df)
Q1 = df['CO2'].quantile(.25)
Q3 = df['CO2'].quantile(.75)
IQR = Q3 - Q1

lower = Q1-1.5*IQR
upper = Q3+1.5*IQR

cond1 = df['CO2'] < lower
cond2 = df['CO2'] > upper
outliers = df[cond1 | cond2]

# print(Q1, Q3, IQR)
print(len(outliers))

304

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_1/air_quality.csv")

# 1) IQR ê³„ì‚°
Q1 = df['CO2'].quantile(0.25)
Q3 = df['CO2'].quantile(0.75)
IQR = Q3 - Q1

# 2) ìƒí•œ ë° í•˜í•œ ê³„ì‚°
upper = Q3 + 1.5 * IQR
lower = Q1 - 1.5 * IQR

# 3) ì´ìƒì¹˜ ì¡°ê±´
cond1 = df['CO2'] < lower
cond2 = df['CO2'] > upper
outliers = df[cond1 | cond2]

# 4) ì´ìƒì¹˜ ìˆ˜ ê³„ì‚°
print(len(outliers))

304

# ê¸°ì¶œ 7íšŒ_ì‘ì—…í˜•2
## mart íŒë§¤ ë°ì´í„°ë¥¼ ê¸°ë°˜ìœ¼ë¡œ íŒë§¤ì•¡ì„ ì˜ˆì¸¡
- ì œê³µëœ ë°ì´í„° ëª©ë¡: mart_train.csv (í›ˆë ¨ ë°ì´í„°), mart_test.csv (í‰ê°€ìš© ë°ì´í„°)
- ì˜ˆì¸¡í•  ì»¬ëŸ¼: total (ì´ íŒë§¤ì•¡)
í•™ìŠµìš© ë°ì´í„°(mart_train.csv)ë¥¼ ì´ìš©í•˜ì—¬ ì´ íŒë§¤ì•¡ì„ ì˜ˆì¸¡í•˜ëŠ” ëª¨ë¸ì„ ë§Œë“  í›„, ì´ë¥¼ í‰ê°€ìš© ë°ì´í„°(mart_test.csv)ì— ì ìš©í•˜ì—¬ ì–»ì€ ì˜ˆì¸¡ê°’ì„ ë‹¤ìŒê³¼ ê°™ì€ í˜•ì‹ì˜ CSV íŒŒì¼ë¡œ ìƒì„±í•˜ì‹œì˜¤.
- ì œì¶œ íŒŒì¼ì€ ë‹¤ìŒ í•œ ê°œì˜ ì»¬ëŸ¼ì„ í¬í•¨í•´ì•¼ í•©ë‹ˆë‹¤.
- pred: ì˜ˆì¸¡ëœ ì´ íŒë§¤ì•¡
- ì œì¶œ íŒŒì¼ëª…: 'result.csv' ì œì¶œí•œ ëª¨ë¸ì˜ ì„±ëŠ¥ì€ RMSE(Root Mean Square Error) í‰ê°€ì§€í‘œì— ë”°ë¼ ì±„ì í•œë‹¤.
- ì œì¶œ CSV íŒŒì¼ëª… ë° í˜•íƒœ: result.csv

~~~
pred
10000
20000
30000
40000
...
~~~

## ë‹µì•ˆ ì œì¶œ ì°¸ê³ 
- pd.read_csv('result.csv') ë¡œ ì œì¶œ ì½”ë“œ í™•ì¸

## ğŸ“Œ My Code

In [20]:
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_2/mart_train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_2/mart_test.csv")

# 1. ë°ì´í„° ìœ í˜• íŒŒì•…
# ê²°ì¸¡ì¹˜: X
# ë²”ì£¼í˜•: ['branch', 'city', 'customer_type', 'gender', 'product_line', 'payment_method', 'time_of_day', 'day_name']
# target: total
# print(train.info())
# print(test.info())
# print(train)
# print(train.shape, test.shape) # (700, 10) (300, 9)
# print(train.select_dtypes('object').columns)

# 2. ë°ì´í„° ì „ì²˜ë¦¬ (4)
# (1) X_full
X = train.drop(['total'], axis=1)
y = train['total']
X_full = pd.concat([X, test], axis=0)

# (2) ê²°ì¸¡ì¹˜: X

# (3) ìˆ˜ì¹˜í˜• ë³€ìˆ˜ ìŠ¤ì¼€ì¼ë§: X

# (4) ë²”ì£¼í˜• ë³€ìˆ˜ ì¸ì½”ë”©
X_full = pd.get_dummies(X_full)
# print(X_full)
# print(X_full.shape) # (1000, 30)

# 3. ë°ì´í„° ë¶„ë¦¬ (X_train, X_test / train_test_split)
X_train = X_full[:train.shape[0]]
X_test = X_full[train.shape[0]:]
# print(X_train.shape, X_test.shape) # (700, 30) (300, 30)

from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_train, y, test_size=0.2)
# print(X_train.shape, X_val.shape, y_train.shape, y_val.shape) # (560, 30) (140, 30) (560,) (140,)

# 4. ëª¨ë¸ í•™ìŠµ
from sklearn.ensemble import RandomForestRegressor
RF = RandomForestRegressor()
RF.fit(X_train, y_train)
y_val_pred_rf = RF.predict(X_val)
# print(y_val_pred_rf)
# print(y_val_pred_rf.shape) # (140,)

from sklearn.ensemble import HistGradientBoostingRegressor
HGB = HistGradientBoostingRegressor()
HGB.fit(X_train, y_train)
y_val_pred_hgb = HGB.predict(X_val)
# print(y_val_pred_hgb)
# print(y_val_pred_hgb.shape) # (140,)

# 5. ëª¨ë¸ í‰ê°€
from sklearn.metrics import root_mean_squared_error
score_rf = root_mean_squared_error(y_val, y_val_pred_rf)
print('score_rf', score_rf)

score_hgb = root_mean_squared_error(y_val, y_val_pred_hgb)
print('score_hgb', score_hgb)

# 6. ê²°ê³¼ ì €ì¥
y_pred = RF.predict(X_test)
# print(y_pred)
# print(y_pred.shape) # (300,)

result = pd.DataFrame({'pred': y_pred})
result.to_csv('result_72.csv', index=False)

check = pd.read_csv('result_72.csv')
print(check)
# print(check.shape) # (300, 1)

score_rf 379654.48854407197
score_hgb 409161.0203967835
            pred
0    356511.0150
1    674935.3800
2    263410.7175
3    593099.0100
4    438679.7100
..           ...
295  519270.0975
296  435027.1275
297  475343.0325
298  396731.0025
299  494153.1000

[300 rows x 1 columns]

# ì‘ì—…í˜•2 í’€ì´

## 1. ë¬¸ì œì •ì˜
- RMSE
- target: total
- ì˜ˆì¸¡ íŒŒì¼ëª…: result.csv
- ì»¬ëŸ¼ 1ê°œ(pred)

## 2. ë¼ì´ë¸ŒëŸ¬ë¦¬ ë° ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [21]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_2/mart_train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_2/mart_test.csv")

## 3. íƒìƒ‰ì  ë°ì´í„° ë¶„ì„(EDA)

In [22]:
# ë°ì´í„° í¬ê¸° í™•ì¸
train.shape, test.shape

((700, 10), (300, 9))

In [23]:
# ìƒ˜í”Œ í™•ì¸
train.head(3)

,branch,city,customer_type,gender,product_line,total,payment_method,rating,time_of_day,day_name
0,A,Yangon,Member,Female,Health and beauty,823457.25,Ewallet,9.1,afternoon,Saturday
1,C,Naypyitaw,Normal,Female,Electronic accessories,120330.00,Cash,9.6,morning,Friday
2,A,Yangon,Normal,Male,Home and lifestyle,510788.25,Credit card,7.4,afternoon,Sunday

In [24]:
test.head(3)

,branch,city,customer_type,gender,product_line,payment_method,rating,time_of_day,day_name
0,C,Naypyitaw,Normal,Female,Fashion accessories,Ewallet,9.6,afternoon,Thursday
1,B,Mandalay,Normal,Male,Food and beverages,Credit card,4.3,evening,Wednesday
2,B,Mandalay,Member,Female,Fashion accessories,Credit card,5.0,evening,Wednesday

In [25]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   branch          700 non-null    object
 1   city            700 non-null    object
 2   customer_type   700 non-null    object
 3   gender          700 non-null    object
 4   product_line    700 non-null    object
 5   total           700 non-null    float64
 6   payment_method  700 non-null    object
 7   rating          700 non-null    float64
 8   time_of_day     700 non-null    object
 9   day_name        700 non-null    object
dtypes: float64(2), object(8)
memory usage: 54.8+ KB

In [26]:
# ê¸°ì´ˆ í†µê³„ê°’ í™•ì¸
train.describe()

              total      rating
count  7.000000e+02  700.000000
mean   4.850780e+05    7.003429
std    3.643907e+05    1.713078
min    1.904175e+04    4.000000
25%    2.001195e+05    5.500000
50%    3.818745e+05    7.000000
75%    7.061276e+05    8.425000
max    1.563975e+06   10.000000

In [27]:
train.describe(include='O')

,branch,city,customer_type,gender,product_line,payment_method,time_of_day,day_name
count,700,700,700,700,700,700,700,700
unique,3,3,2,2,6,3,3,7
top,A,Yangon,Normal,Male,Sports and travel,Cash,evening,Saturday
freq,236,236,354,356,127,246,309,114

In [28]:
test.describe(include='O')

,branch,city,customer_type,gender,product_line,payment_method,time_of_day,day_name
count,300,300,300,300,300,300,300,300
unique,3,3,2,2,6,3,3,7
top,A,Yangon,Member,Female,Electronic accessories,Ewallet,evening,Saturday
freq,104,104,155,157,58,110,123,50

In [29]:
train.isnull().sum().sum()

np.int64(0)

In [30]:
test.isnull().sum().sum()

np.int64(0)

In [31]:
train['total'].value_counts()

total
283641.75     2
263875.50     2
415422.00     2
326450.25     2
130851.00     2
             ..
293391.00     1
137103.75     1
348232.50     1
104107.50     1
1535625.00    1
Name: count, Length: 695, dtype: int64

In [32]:
pd.set_option('display.float_format', '{:.10f}'.format)
train['total'].describe()

count       700.0000000000
mean     485078.0175000000
std      364390.7265411940
min       19041.7500000000
25%      200119.5000000000
50%      381874.5000000000
75%      706127.6250000000
max     1563975.0000000002
Name: total, dtype: float64

## 4. ë°ì´í„° ì „ì²˜ë¦¬

In [33]:
target = train.pop('total')

In [34]:
print(train.shape, test.shape)
train = pd.get_dummies(train)
test = pd.get_dummies(test)
print(train.shape, test.shape)

(700, 9) (300, 9)
(700, 30) (300, 30)

## 5. ê²€ì¦ ë°ì´í„° ë¶„í•

In [35]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(train, target, test_size=0.2, random_state=0)
X_tr.shape, X_val.shape, y_tr.shape, y_val.shape

((560, 30), (140, 30), (560,), (140,))

## 6. ë¨¸ì‹ ëŸ¬ë‹ í•™ìŠµ ë° í‰ê°€

In [36]:
from sklearn.metrics import mean_squared_error
def rmse(y_true, y_pred):
    return mean_squared_error(y_true, y_pred)**0.5

In [37]:
# ì„ í˜•íšŒê·€
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_tr, y_tr)
pred = lr.predict(X_val)
rmse(y_val, pred)

np.float64(374016.3661648522)

In [38]:
# ëœë¤í¬ë ˆìŠ¤íŠ¸
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state=0)
rf.fit(X_tr, y_tr)
pred = rf.predict(X_val)
rmse(y_val, pred)

np.float64(385951.8053430962)

In [ ]:
# Xgboost
import xgboost as xgb
xg = xgb.XGBRegressor(random_state=0)
xg.fit(X_tr, y_tr)
pred = xg.predict(X_val)
rmse(y_val, pred)

In [ ]:
# LightGBM
import lightgbm as lgb
lg = lgb.LGBMRegressor(random_state=0, verbose=-1)
lg.fit(X_tr, y_tr)
pred = lg.predict(X_val)
rmse(y_val, pred)

## 7. ì˜ˆì¸¡ ë° ê²°ê³¼ íŒŒì¼ ìƒì„±

In [44]:
pred = lr.predict(test)
result = pd.DataFrame({
    'pred':pred
})
result.to_csv("result.csv", index=False)

In [45]:
pd.read_csv('result.csv')

                 pred
0   485484.5740277334
1   474683.4165377701
2   486669.1574532852
3   426407.8222290425
4   599942.9042138030
..                ...
295 501132.5887398274
296 554273.9221195823
297 540502.7549631427
298 550704.8821613132
299 506543.6684025059

[300 rows x 1 columns]

## 8. ì„±ëŠ¥ ê°œì„

In [46]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_2/mart_train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_2/mart_test.csv")

# target ë°ì´í„°
target = train.pop('total')

# ë ˆì´ë¸” ì¸ì½”ë”©
from sklearn.preprocessing import LabelEncoder
cols = train.select_dtypes(include='O').columns

for col in cols:
    le = LabelEncoder()
    train[col] = le.fit_transform(train[col])
    test[col] = le.transform(test[col])

# ê²€ì¦ë°ì´í„° ë¶„ë¦¬
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(train, target, test_size=0.2, random_state=0)

# ì„ í˜•íšŒê·€
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_tr, y_tr)
pred = lr.predict(X_val)
print(rmse(y_val, pred))

# ìµœì¢… ì œì¶œ íŒŒì¼
pred = lr.predict(test)
result = pd.DataFrame({
    'pred':pred
})
result.to_csv("result.csv", index=False)

# ë² ì´ìŠ¤ë¼ì¸(ì›í•« ì¸ì½”ë”©): 374016.3661648522
# ë ˆì´ë¸” ì¸ì½”ë”©: 371070.1344734549

371070.1344734549