# 기출 9회_작업형1

## 문제1

1. 총대출액은 신용대출과 담보대출의 합이다.
2. 각 지역코드 내에서, 성별(예: 1과 2)별로 '총대출액'의 합계를 계산하시오.
3. 성별 간 총대출액의 차이가 가장 큰 지역코드를 구하시오.

In [61]:
# My1) groupby, unstack

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/9_1/loan.csv")

df['총대출액'] = df['신용대출']+df['담보대출']
df = df.groupby(['지역코드', '성별'])['총대출액'].sum()
df = df.unstack()
df['diff'] = abs(df[1]-df[2])
df = df.sort_values('diff', ascending=False)
print(df.index[0])
# print(df)

4100000278

In [90]:
# My2) pivot_table

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/9_1/loan.csv")

df['총대출액'] = df['신용대출']+df['담보대출']
# print(df)

grouped = df.pivot_table(index='지역코드', columns='성별', values='총대출액', aggfunc='sum')
grouped['diff'] = abs(grouped[1]-grouped[2])
print(grouped['diff'].idxmax())

4100000278

In [59]:
# 방법1

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/9_1/loan.csv")

# 1) 총대출액 컬럼 생성
df['총대출액'] = df['신용대출'] + df['담보대출']

# 2) 지역코드와 성별별로 총대출액 합계 계산
grouped = df.groupby(['지역코드', '성별'])['총대출액'].sum().unstack()

# 3) 성별 간 총대출액 차이가 가장 큰 지역코드 찾기 (절대값 사용)
grouped['차이'] = abs(grouped[1] - grouped[2])
result = grouped['차이'].idxmax()
print(result)

4100000278

In [58]:
# 방법2

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/9_1/loan.csv")

# 1) 총대출액 컬럼 생성
df['총대출액'] = df['신용대출'] + df['담보대출']

# 2) 지역코드와 성별별로 총대출액 합계 계산
grouped = df.pivot_table(index='지역코드', columns='성별', values='총대출액', aggfunc='sum')
# print(grouped)

# 3) 성별 간 총대출액 차이가 가장 큰 지역코드 찾기 (절대값 사용)
grouped['차이'] = abs(grouped[1] - grouped[2])
result = grouped['차이'].idxmax()
print(result)

4100000278

## 문제2

1. 검거율은 검거건수 / 발생건수이다.
2. 각 연도에서 가장 높은 검거율을 기록한 범죄유형을 찾으시오.
3. 해당 범죄유형의 검거건수를 구한 후, 이 값들을 모두 합산하시오. (정수로 구하시오)

In [108]:
# 방법1 

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/9_1/crime.csv")
# print(df)

# 1) "발생건수"와 "검거건수"를 따로 분리
cond1 = df['구분'] == '검거건수'
df1 = df[cond1].iloc[:, 2:].reset_index(drop=True)
# print(df1)
# print(df1.shape)

cond2 = df['구분'] == '발생건수'
df2 = df[cond2].iloc[:, 2:].reset_index(drop=True)
# print(df2)
# print(df2.shape)

# 2) 검거율 계산 (검거건수 / 발생건수)
# index가 매칭되어야 df끼리 계산이 가능함.
df3 = df1 / df2
# print(df3)

# 3) 각 연도에서 검거율이 가장 높은 범죄유형 찾기
listbox = df3.idxmax(axis=1)
# print(listbox)

# 4) 가장 높은 검거율을 기록한 범죄유형의 검거건수 가져오기
result = 0
for index, item in enumerate(listbox):
    result += df1.loc[index, item]

print(result)

7799

In [144]:
# 방법2

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/9_1/crime.csv")
print('df =============')
print(df)

# 1. 데이터를 길게 변환
df_long = pd.melt(df, id_vars=['연도', '구분'], var_name='범죄유형', value_name='건수')
print('df_long =============')
print(df_long)

# 2. 피벗(pivot)하여 발생건수와 검거건수를 한 행에 모으기
df_pivot = df_long.pivot_table(index=['연도', '범죄유형'], columns='구분', values='건수').reset_index()

# 3. 검거율 계산
df_pivot['검거율'] = df_pivot['검거건수'] / df_pivot['발생건수']
print('df_pivot =============')
print(df_pivot)

# 4. 각 연도별로 검거율이 가장 높은 범죄유형 찾기
listbox = df_pivot.groupby(['연도'])['검거율'].idxmax()
max_crime_df = df_pivot.loc[listbox]
print(max_crime_df)

# 5. 각 연도별 최고 검거율 범죄유형의 검거건수를 모두 합산하기
# result = 0
# for index in listbox:
#     result += df_pivot.loc[index, '검거건수']
# print(result)

result = max_crime_df['검거건수'].sum()
print(result)

df =============
      연도    구분  강력범죄  절도범죄  폭력범죄  지능범죄  풍속범죄  특별경제범죄  마약범죄  보건범죄  환경범죄  교통범죄  \
0   2014  발생건수   800   900   750   650   700    1034   600   850   800   900
1   2014  검거건수   500   600   400   450   400     961   350   500   450   550
2   2015  발생건수   900   768   800   750   700    1000   850   800   900   950
3   2015  검거건수   600   713   500   550   400     600   500   450   550   600
4   2016  발생건수   850   800   880   750   700     950   900   800   850   900
5   2016  검거건수   500   600   812   550   400     600   500   450   500   550
6   2017  발생건수  1000   900   850   800   750     950  1400   900  1000   950
7   2017  검거건수   600   500   500   550   400     600  1300   500   550   600
8   2018  발생건수  1450   900   850   800   750     950   900   800   850   900
9   2018  검거건수  1350   600   500   550   400     600   500   450   500   550
10  2019  발생건수  1000   900   850   800   750     950   900  1400  1000   950
11  2019  검거건수   600   500   500   550   400     600   500  1300   550   600
12  2020  발생건수  1000   900   850  1500   750     950   900   800   850   900
13  2020  검거건수   600   500   500  1363   400     600   500   450   500   550

    노동범죄  선거범죄  병역범죄  기타범죄
0    750   800   700  1000
1    400   450   400   600
2    800   850   750  1000
3    450   500   400   600
4    750   800   700   950
5    400   450   400   600
6    800   850   750   900
7    450   500   400   500
8    750   800   700   950
9    400   450   400   600
10   800   850   750   900
11   450   500   400   500
12   750   800   700   950
13   400   450   400   600
df_long =============
       연도    구분  범죄유형   건수
0    2014  발생건수  강력범죄  800
1    2014  검거건수  강력범죄  500
2    2015  발생건수  강력범죄  900
3    2015  검거건수  강력범죄  600
4    2016  발생건수  강력범죄  850
..    ...   ...   ...  ...
191  2018  검거건수  기타범죄  600
192  2019  발생건수  기타범죄  900
193  2019  검거건수  기타범죄  500
194  2020  발생건수  기타범죄  950
195  2020  검거건수  기타범죄  600

[196 rows x 4 columns]
df_pivot =============
구분    연도    범죄유형    검거건수    발생건수       검거율
0   2014    강력범죄   500.0   800.0  0.625000
1   2014    교통범죄   550.0   900.0  0.611111
2   2014    기타범죄   600.0  1000.0  0.600000
3   2014    노동범죄   400.0   750.0  0.533333
4   2014    마약범죄   350.0   600.0  0.583333
..   ...     ...     ...     ...       ...
93  2020    지능범죄  1363.0  1500.0  0.908667
94  2020  특별경제범죄   600.0   950.0  0.631579
95  2020    폭력범죄   500.0   850.0  0.588235
96  2020    풍속범죄   400.0   750.0  0.533333
97  2020    환경범죄   500.0   850.0  0.588235

[98 rows x 5 columns]
구분    연도    범죄유형    검거건수    발생건수       검거율
10  2014  특별경제범죄   961.0  1034.0  0.929400
22  2015    절도범죄   713.0   768.0  0.928385
39  2016    폭력범죄   812.0   880.0  0.922727
46  2017    마약범죄  1300.0  1400.0  0.928571
56  2018    강력범죄  1350.0  1450.0  0.931034
76  2019    보건범죄  1300.0  1400.0  0.928571
93  2020    지능범죄  1363.0  1500.0  0.908667
7799.0

## 문제3

1. 만족도의 결측치는 만족도의 평균값으로 대체한다.
2. 근속연수의 결측치는 동일한 부서 및 성과등급에 해당하는 직원들의 평균 근속연수로 대체한다. (이때, 평균 근속연수는 소수점 이하를 절사하여 정수로 변환하여 사용)
3. 각 직원의 '연봉 / 근속연수' 값을 계산하여, 그 값이 세 번째로 큰 직원의 근속연수를 구하시오.
4. 각 직원의 '연봉 / 만족도' 값을 계산하여, 그 값이 두 번째로 큰 직원의 교육참가횟수를 구하시오.
5. (3)과 (4)의 값을 더한 결과를 구하시오. (정수로 구하시오)

In [169]:
# 방법1

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/9_1/hr.csv")
print('df ============')
print(df)

# 1) 만족도 결측치 처리
# print(df['만족도'].isna().sum())
m = df['만족도'].mean()
df['만족도'] = df['만족도'].fillna(m)
# print(df['만족도'].isna().sum())

# 2) 근속연수 결측치 처리 (부서와 성과등급 기준 평균값으로 채움)
# print(df['근속연수'].isna().sum())
gm = df.groupby(['부서', '성과등급'])['근속연수'].transform('mean')
gm = gm.astype(int)
print('gm ============')
print(gm)
df['근속연수'] = df['근속연수'].fillna(gm)
# print(df['근속연수'].isna().sum())
# print(df)

# 3) 연봉 / 근속연수 계산 후 세 번째로 높은 사람의 근속연수 (A)
df['연봉_근속연수'] = df['연봉'] / df['근속연수']
df_year = df.nlargest(3, '연봉_근속연수')
A = df_year.iloc[-1]['근속연수']
print('df_year ============')
print(df_year)
print(A)

# 4) 연봉 / 만족도 계산 후 두 번째로 높은 사람의 교육참가횟수 (B)
# print(df)
df['연봉_만족도'] = df['연봉'] / df['만족도']
df_cnt = df.nlargest(2, '연봉_만족도')
B = df_cnt.iloc[-1]['교육참가횟수']
print('df_cnt ============')
print(df_cnt)
print(B)

# 5) 결과 출력
print('정답:', int(A+B))

df ============
      사원번호         부서 성과등급         연봉  근속연수  교육참가횟수  만족도
0    E0001  Marketing    B   73200000  14.0       5  6.0
1    E0002         IR    A   95100000   3.0       4  9.0
2    E0003    Manager    B   44700000   5.0       2  8.0
3    E0004         IR    B  122100000  16.0       3  8.0
4    E0005         IR    C   66000000   NaN       4  8.0
..     ...        ...  ...        ...   ...     ...  ...
995  E0996    Finance    B   90400000  15.0       3  2.0
996  E0997         IR    C  147600000  12.0       5  5.0
997  E0998      Sales    C   95600000   4.0       4  9.0
998  E0999      Sales    C   94400000   8.0       6  1.0
999  E1000         IR    A   92400000   9.0       2  5.0

[1000 rows x 7 columns]
gm ============
0      11
1      11
2      10
3      10
4      10
       ..
995    10
996    10
997    11
998    11
999    11
Name: 근속연수, Length: 1000, dtype: int64
df_year ============
      사원번호       부서 성과등급         연봉  근속연수  교육참가횟수       만족도      연봉_근속연수
357  E0358  Finance    B  148100000   1.0       5  8.000000  148100000.0
386  E0387       HR    A  145400000   1.0       1  9.000000  145400000.0
801  E0802       IR    A  144900000   1.0       5  5.017045  144900000.0
1.0
df_cnt ============
      사원번호       부서 성과등급         연봉  근속연수  교육참가횟수  만족도       연봉_근속연수  \
490  E0491  Finance    B  149000000  13.0       6  1.0  1.146154e+07
737  E0738       HR    A  146200000   9.0       6  1.0  1.624444e+07

          연봉_만족도
490  149000000.0
737  146200000.0
6
정답: 7

In [ ]:
# 방법2
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/9_1/hr.csv")

# 1) 만족도 결측치 처리
# print(df['만족도'].isnull().sum())
m = df['만족도'].mean()
df['만족도'] = df['만족도'].fillna(m)
# print(df['만족도'].isnull().sum())

# 2) 근속연수 결측치 처리 (부서와 성과등급 기준 평균값으로 채움)
# print(df['근속연수'].isnull().sum())
gm = df.groupby(['부서', '성과등급'])['근속연수'].transform('mean')
gm = gm.astype(int)
df['근속연수'] = df['근속연수'].fillna(gm)
# print(df['근속연수'].isnull().sum())

# 3) 연봉 / 근속연수 계산 후 세 번째로 높은 사람의 근속연수 (A)
df['연봉_근속연수'] = df['연봉'] / df['근속연수']
df_year = df.sort_values('연봉_근속연수', ascending=False)
A = df_year.iloc[2]['근속연수']

# 4) 연봉 / 만족도 계산 후 두 번째로 높은 사람의 교육참가횟수 (B)
df['연봉_만족도'] = df['연봉'] / df['만족도']
df_like = df.sort_values('연봉_만족도', ascending=False)
B = df_like.iloc[1]['교육참가횟수']

# 5) 결과 출력
result = A + B
print(result)

7.0

# 기출 8회_작업형1

## 문제1
1. 대륙('continent')별 맥주 소비량(‘beer_servings’)의 평균을 계산하고, 평균이 가장
 큰 대륙을 찾으시오.
2. 1번에서 찾은 대륙에서 맥주 소비량이 5번째로 많은 국가(‘country’)의 맥주 소비량을 구하시오.

In [31]:
# My)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/8_1/drinks.csv")
# print(df)

grouped = df.groupby(['continent'])['beer_servings'].mean()
max_continent = grouped.idxmax()

cond = df['continent'] == max_continent
df1 = df[cond].groupby(['country'])['beer_servings'].sum()
print(df1.nlargest(5).iloc[-1])

313

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/8_1/drinks.csv")
df
# 1) 대륙별 맥주 소비량의 평균
continent = df.groupby('continent')['beer_servings'].mean() #Europe
top_continent = continent.idxmax()

# 2) 국가별 맥주 소비량
cond = df['continent'] == top_continent
df = df[cond]
df = df.sort_values('beer_servings', ascending=False)
df.iloc[4, 1] #df.iloc[4]['beer_servings']

313

## 문제2
1. ‘관광객비율’이 두 번째로 높은 국가의 ‘사업’ 방문객 수를 a라고 정의하시오.
2. ‘관광’이 두 번째로 높은 국가의 ‘공무’ 방문객 수를 b라고 정의하시오.
3. a와 b의 합을 구하시오.
- 방문객 합계 = 관광 + 공무 + 사업 + 기타
- 관광객 비율 = 관광 / 방문객 합계

In [39]:
# My) 

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/8_1/tourist.csv")

df['방문객_합계'] = df['관광']+df['공무']+df['사업']+df['기타']
df['관광객_비율'] = df['관광']/df['방문객_합계']
A = df.nlargest(2, '관광객_비율').iloc[-1, 3]
# print(A)

B = df.nlargest(2, '관광').iloc[-1, 2]
# print(B)

print(A+B)

441

In [ ]:
# 방법1
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/8_1/tourist.csv")

# 1) 방문객 합계 및 관광객 비율 계산
df['방문객합계'] = df['관광'] + df['공무'] + df['사업'] + df['기타']
df['관광객비율'] = df['관광'] / df['방문객합계']

# 2) 조건에 맞는 값 찾기
a = df.sort_values('관광객비율', ascending=False).iloc[1, 3] #203
b = df.sort_values('관광', ascending=False).iloc[1, 2] #238
print(a+b)

441

In [ ]:
# 방법2
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/8_1/tourist.csv")

# 1) 방문객 합계 및 관광객 비율 계산
df['방문객합계'] = df['관광'] + df['공무'] + df['사업'] + df['기타']
df['관광객비율'] = df['관광'] / df['방문객합계']

# 2) 조건에 맞는 값 찾기
a = df.nlargest(2, '관광객비율').iloc[1]['사업']
b = df.nlargest(2, '관광').iloc[1]['공무']

print(a+b)

441

## 문제3
1. 주어진 데이터에서 ‘co’와 ‘nmhc’ 컬럼을 각각 Min-Max 스케일링하시오.
2. 스케일링된 ‘co’, ‘nmhc’ 컬럼의 표준편차를 각각 구하시오.
3. ‘co’ 컬럼의 표준편차에서 ‘nmhc’ 컬럼의 표준편차를 뺀 값을 소수점 3자리로 반올림하여 구하시오.
- Min-Max 스케일링 = (X - min_X) / (max_X - min_X)
- X 변수의 최솟값: min_X
- X 변수의 최댓값: max_X

In [45]:
# My1)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/8_1/chem.csv")

df['co'] = (df['co'] - df['co'].min())/(df['co'].max()-df['co'].min())
df['nmhc'] = (df['nmhc'] - df['nmhc'].min())/(df['nmhc'].max()-df['nmhc'].min())
std1 = df['co'].std()
std2 = df['nmhc'].std()
print(round(std1-std2, 3))

-0.017

In [49]:
# My2) Scaler

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/8_1/chem.csv")

from sklearn.preprocessing import MinMaxScaler

# 1) Min-Max 스케일링 (데이터프레임으로 만들기)
scaler = MinMaxScaler()
df['co_scaled'] = scaler.fit_transform(df[['co']])
df['nmhc_scaled'] = scaler.fit_transform(df[['nmhc']])
print(df)

# 2) 표준편차 계산 (판다스 표준편차)
co_std = df['co_scaled'].std()
nmhc_std = df['nmhc_scaled'].std()

# 3) 표준편차 차이 계산 및 반올림
print(round(co_std-nmhc_std, 3))

   sample   co  nmhc  etc  co_scaled  nmhc_scaled
0     샘플1   79    54   31   0.680851     0.500000
1     샘플2   84    57   58   0.734043     0.534091
2     샘플3  109    74  113   1.000000     0.727273
3     샘플4   15    77   21   0.000000     0.761364
4     샘플5   65    77  115   0.531915     0.761364
..    ...  ...   ...  ...        ...          ...
95   샘플96   56    58   86   0.436170     0.545455
96   샘플97   33    59  111   0.191489     0.556818
97   샘플98   55    79  105   0.425532     0.784091
98   샘플99   69    51   59   0.574468     0.465909
99  샘플100   94    45   59   0.840426     0.397727

[100 rows x 6 columns]
-0.017

In [ ]:
# 방법1
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/8_1/chem.csv")

# 1) Min-Max 스케일링 (데이터프레임으로 만들기)
scaler = MinMaxScaler()
df['co_scaled'] = scaler.fit_transform(df[['co']])
df['nmhc_scaled'] = scaler.fit_transform(df[['nmhc']])
df.head()

# 2) 표준편차 계산 (판다스 표준편차)
co_std = df['co_scaled'].std() #0.2856516497116944
nmhc_std = df['nmhc_scaled'].std() #0.3030617020578397

# 3) 표준편차 차이 계산 및 반올림
round(co_std - nmhc_std, 3)

-0.017

In [ ]:
# 방법2
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/8_1/chem.csv")

# 1) Min-Max 스케일링 (데이터프레임으로 만들기)
scaler = MinMaxScaler()
co_scaled = scaler.fit_transform(df[['co']])
nmhc_scaled = scaler.fit_transform(df[['nmhc']])
type(co_scaled)

# 2) 표준편차 계산 (넘파이 표준편차)
co_std = co_scaled.std()
nmhc_std = nmhc_scaled.std()

# 3) 표준편차 차이 계산 및 반올림
round(co_std - nmhc_std, 3)

-0.017

# 기출 7회_작업형1

## 문제1
결측치가 있는 행을 제거한 후, 학생이 가장 많이 수강한 과목을 찾고, 해당 과목 점수를 표준화(스탠다스 스케일) 한 뒤에 표준화된 가장 큰 값을 구하시오. (반올림하여 소수 셋째자리까지 계산)

In [72]:
# My)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_1/student_assessment.csv")

df = df.dropna()
# print(df.info())

grouped = df.groupby(['id_assessment'])['student_id'].count()
top = grouped.idxmax()

# print(grouped)
cond = df['id_assessment'] == top
df1 = df[cond].copy()
# print(df1)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df1['score'] = scaler.fit_transform(df1[['score']])
# print(df1)
print(round(df1.nlargest(1, 'score').iloc[-1]['score'], 3))

2.183

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_1/student_assessment.csv")

# 0) 데이터 확인
print("결측치 수:", df.isnull().sum().sum())

# 1) 결측치 제거
print(df.shape)
df = df.dropna()
print(df.shape)

# 2) 가장 많이 수강한 과목 필터링
id = df['id_assessment'].value_counts().idxmax()
cond = df['id_assessment'] == id
df = df[cond]

# 3) 과목 점수 스탠다드 스케일
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df['score'] = scaler.fit_transform(df[['score']])

# 4) 가장 큰 값
print(round(df['score'].max(), 3))

결측치 수: 21
(2565, 4)
(2544, 4)
2.183

## 문제2
DE1~DE77컬럼 중 주가지수의 종가 "close"와 가장 상관관계가 높은 변수를 찾아, 해당 변수의 평균값을 구하시오. (반올림하여 소수 넷째자리까지 계산)

In [85]:
# My)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_1/stock_market.csv")

df_corr = df.corr()['close'].abs()
col = df_corr.loc['DE1':'DE77'].idxmax()
# print(col)
print(round(df[col].mean(), 4))

-0.0004

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_1/stock_market.csv")

# 1) close와의 상관관계(절대값)
df_corr = df.corr()['close'].abs()

# 2) 상관관계가 높은 변수명
col = df_corr.loc['DE1':'DE77'].idxmax()

# 3) '2'에서 구한 변수명의 평균값
print(round(df[col].mean(), 4))

-0.0004

## 문제3
IQR을 이용해 이산화탄소(CO2) 이상치 수를 찾으시오

- Q1 (제 1사분위수): 하위 25% 값
- Q3 (제 3사분위수): 상위 25% 값
- IQR (사분위수 범위): IQR = Q3 - Q1

- lower (하한선): Q1 - 1.5 * IQR, 이 값보다 작은 데이터는 이상치로 간주
- upper (상한선): Q3 + 1.5 * IQR, 이 값보다 큰 데이터는 이상치로 간주

In [92]:
# My) 

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_1/air_quality.csv")

# print(df)
Q1 = df['CO2'].quantile(.25)
Q3 = df['CO2'].quantile(.75)
IQR = Q3 - Q1

lower = Q1-1.5*IQR
upper = Q3+1.5*IQR

cond1 = df['CO2'] < lower
cond2 = df['CO2'] > upper
outliers = df[cond1 | cond2]

# print(Q1, Q3, IQR)
print(len(outliers))

304

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/7_1/air_quality.csv")

# 1) IQR 계산
Q1 = df['CO2'].quantile(0.25)
Q3 = df['CO2'].quantile(0.75)
IQR = Q3 - Q1

# 2) 상한 및 하한 계산
upper = Q3 + 1.5 * IQR
lower = Q1 - 1.5 * IQR

# 3) 이상치 조건
cond1 = df['CO2'] < lower
cond2 = df['CO2'] > upper
outliers = df[cond1 | cond2]

# 4) 이상치 수 계산
print(len(outliers))

304

# 기출 6회_작업형1

## 문제 1

1. 주어진 데이터는 각 소방서의 출동/도착 시간데이터이다.
출동시간과 도착시간 차이가 평균적으로 가장 오래 걸린 소방서의 시간을 분으로 변환해 출력하시오. (반올림 후 정수 출력)

In [43]:
# My)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/6_1/data6-1-1.csv")

# 1) datetime으로 변환
df['출동시간'] = pd.to_datetime(df['출동시간'])
df['도착시간'] = pd.to_datetime(df['도착시간'])
# print(df.info())

# 2) diff 구하기
df['diff'] = df['도착시간'] - df['출동시간']
df['diff'] = df['diff'].dt.total_seconds()/60

g1 = df.groupby(['소방서'])['diff'].mean()
print(round(g1.nlargest(1).iloc[0]))

# print(g1)

81

In [ ]:
# 1. datetime
df['출동시간'] = pd.to_datetime(df['출동시간'])
df['도착시간'] = pd.to_datetime(df['도착시간'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   소방서     100 non-null    object
 1   출동시간    100 non-null    datetime64[ns]
 2   도착시간    100 non-null    datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 2.5+ KB

In [ ]:
# 2. 도착 - 출동 (분)
df['diff'] = df['도착시간'] - df['출동시간']
df['diff'] = df['diff'].dt.total_seconds() / 60
df.head(2)

    소방서                출동시간                도착시간        diff
0  소방서1 2023-09-16 06:12:29 2023-09-16 07:51:55   99.433333
1  소방서5 2023-09-19 06:11:41 2023-09-19 08:08:36  116.916667

In [ ]:
# 3. 소방서별 차이 평균
result = df.groupby('소방서')['diff'].mean()

In [ ]:
# 4. 차이가 가장 큰 값
result.sort_values(ascending = False)[0]

<ipython-input-23-63bc12fc26de>:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result.sort_values(ascending = False)[0]

np.float64(80.6588888888889)

In [ ]:
# 4. 다른 풀이
print(round(result.max()))

81

## 문제 2

2. 학교에서 교사 한 명당 맡은 학생 수가 가장 많은 학교를 찾고, 그 학교의 전체 교사 수를 구하시오. (정수 출력)

In [53]:
# My)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/6_1/data6-1-2.csv")

df['전체학생수'] = df['1학년']+df['2학년']+df['3학년']+df['4학년']+df['5학년']+df['6학년']
df['교사당학생수'] = df['전체학생수']/df['교사수']
print(df.nlargest(1, '교사당학생수').iloc[0]['교사수'])

19

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/6_1/data6-1-2.csv")
df.head(2)

   학교명  교사수  1학년  2학년  3학년  4학년  5학년  6학년
0  학교1   20  118   72  154  118   77   59
1  학교2   31  187  193  135  137   63   90

In [ ]:
# 1. 전체 학생수
df['전체'] = df.iloc[:, 2:].sum(axis=1)
df.head(2)

   학교명  교사수  1학년  2학년  3학년  4학년  5학년  6학년   전체
0  학교1   20  118   72  154  118   77   59  598
1  학교2   31  187  193  135  137   63   90  805

In [ ]:
# 2. 교사 한 명당 맡은 학생 수 (전체/교사)
df['전체/교사'] = df['전체']/df['교사수']
df.head(2)

   학교명  교사수  1학년  2학년  3학년  4학년  5학년  6학년   전체      전체/교사
0  학교1   20  118   72  154  118   77   59  598  29.900000
1  학교2   31  187  193  135  137   63   90  805  25.967742

In [ ]:
# 3. 전체 / 교사가 가장 큰 값을 가진 학교의 교사수

In [ ]:
df['전체/교사'].idxmax()

7

In [ ]:
print(int(df.loc[7, '교사수']))

19

In [ ]:
# (추가 Tip) 정렬해서 찾는 방법
df.sort_values('전체/교사', ascending=False)

     학교명  교사수  1학년  2학년  3학년  4학년  5학년  6학년    전체      전체/교사
7    학교8   19  151  181  161  187  174  183  1037  54.578947
68  학교69   19  189  117  157  192  144  144   943  49.631579
48  학교49   22  163  189  192  121   99  183   947  43.045455
92  학교93   23   84  199  127  143  180  157   890  38.695652
49  학교50   21  150  154  164   78   65  195   806  38.380952
..   ...  ...  ...  ...  ...  ...  ...  ...   ...        ...
78  학교79   39  128  162  110   51   73   78   602  15.435897
70  학교71   41   50  139  179   50  125   70   613  14.951220
61  학교62   34   85   51   91   72  134   58   491  14.441176
89  학교90   41   57  103   59   89  184   75   567  13.829268
74  학교75   42   57   91   99  143   97   75   562  13.380952

[100 rows x 10 columns]

## 문제 3

3. 연도별로 총 범죄 건수(범죄유형의 총합)의 월평균 값을 구한 후 그 값이 가장 큰 연도를 찾아, 해당 연도의 총 범죄 건수의 월평균 값을 출력하시오. (반올림하여 정수로 출력)
- **총 범죄건수의 월평균 값을 구할 때 모든 월의 데이터가 있는 것이 아니므로 .sum()으로 합을 구한 후 12로 나눠줘야 함.**

In [81]:
# My)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/6_1/data6-1-3.csv")

df['연도'] = df['날짜'].str[:4].astype(int)
df['월'] = df['날짜'].str[-3:-1].astype(int)
df = df.drop(['날짜'], axis=1)
df['총범죄건수'] = df.iloc[:, :6].sum(axis=1)
# print(df)

g1 = df.groupby(['연도'])['총범죄건수'].sum()/12
top_year = g1.idxmax()

df1 = df[df['연도']==top_year]
# print(df1)
print(round(df1['총범죄건수'].mean()))

515

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/6_1/data6-1-3.csv")
df.head(2)

          날짜  강력범죄  절도범죄  폭력범죄  지능범죄  풍속범죄  교통범죄  경찰서명
0  2020년 04월    26   142    83    71    33   182  B경찰서
1  2021년 06월    12   131    78    65    30   201  E경찰서

In [ ]:
# 1. 총 범죄 건수
df['총범죄'] = df.iloc[:,1:-1].sum(axis=1)
df.head(2)

          날짜  강력범죄  절도범죄  폭력범죄  지능범죄  풍속범죄  교통범죄  경찰서명  총범죄
0  2020년 04월    26   142    83    71    33   182  B경찰서  537
1  2021년 06월    12   131    78    65    30   201  E경찰서  517

In [ ]:
# 2. 연도
df['연도'] = df['날짜'].str[:4]
df.head(2)

          날짜  강력범죄  절도범죄  폭력범죄  지능범죄  풍속범죄  교통범죄  경찰서명  총범죄    연도
0  2020년 04월    26   142    83    71    33   182  B경찰서  537  2020
1  2021년 06월    12   131    78    65    30   201  E경찰서  517  2021

In [ ]:
# 3. 연도별 그룹핑(총범죄).sum()
result = df.groupby("연도")['총범죄'].sum()/12

In [ ]:
# 4. 가장 큰 값
print(round(result.max()))

515

# 기출 5회_작업형1

## 문제 1

1. 종량제 봉투 종류가 '규격봉투'이고, 종량제 봉투 용도가 '음식물쓰레기'인 2L가격 평균 (단, 가격0 제외, 반올림 후 정수 출력)

In [28]:
# My)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/5_1/5-1price.csv")

cond1 = df['종량제봉투종류'] == '규격봉투'
cond2 = df['종량제봉투용도'] == '음식물쓰레기'
cond3 = df['2ℓ가격'] != 0

df1 = df[cond1 & cond2 & cond3]
print(round(df1['2ℓ가격'].mean()))

118

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/5_1/5-1price.csv")
cond1 = df['2ℓ가격'] != 0
cond2 = df['종량제봉투종류'] == "규격봉투"
cond3 = df['종량제봉투용도'] == "음식물쓰레기"
df = df[cond1 & cond2 & cond3]
df
print(round(df['2ℓ가격'].mean()))

118

## 문제 2

2. bmi를 계산하고, 수치가 정상인 사람 수와 위험체중인 사람 수의 차이를 절대값으로 구하시오 (정수로 출력)
 - bmi(체질량지수): 몸무게(kg) / 키(m)의 제곱
단위
- Height: cm
- Weight: kg


- 저체중: BMI 18.5미만
- 정상체중: BMI 18.5이상 ~ 23미만
- 과체중 또는 위험체중: BMI 23 이상 ~ 25미만
- 비만체중: 25이상

In [42]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/5_1/5-2bmi.csv")

df['bmi'] = df['Weight']/((df['Height']/100)**2)

cond1 = (18.5 <= df['bmi']) & (df['bmi'] < 23)
cond2 = (23 <= df['bmi']) & (df['bmi'] < 25)
print(abs(len(df[cond2])-len(df[cond1])))

144

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/5_1/5-2bmi.csv")

df['bmi'] = df['Weight'] / (df['Height']/100)**2
cond1 = (df['bmi'] >= 18.5) & (df['bmi'] < 23)
cond2 = (df['bmi'] >= 23) & (df['bmi'] < 25)
print(abs(len(df[cond1]) - len(df[cond2])))

144

## 문제 3

3. 순전입학생이 가장 많은 학교의 전체학생수 (순전입 학생 = 전입 학생 - 전출 학생)

In [53]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/5_1/5-3student.csv")

df['순전입학생'] = df['전입학생수(계)'] - df['전출학생수(계)']
# print(df.head())
g1 = df.groupby(['학교명'])['순전입학생'].sum()
top_school = g1.idxmax()

cond1 = df['학교명'] == top_school
print(df[cond1].iloc[0]['전체학생수(계)'])

230.0

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/5_1/5-3student.csv")
df['순전입'] = df['전입학생수(계)'] - df['전출학생수(계)']
df = df.sort_values('순전입', ascending=False)
print(int(df.iloc[0,-2]))

230

# 기출 4회_작업형1

## 문제 1
1-1. age 컬럼의 3사분위수와 1사분위수의 차를 절대값으로 구하고, 소수점 버려서, 정수로 출력

In [33]:
# My)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/4_1/basic1.csv")

Q3 = df['age'].quantile(.75)
Q1 = df['age'].quantile(.25)
print(int(abs(Q3-Q1)))

50

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/4_1/basic1.csv")
# print("1사분위: ",df['age'].quantile(0.25))
# print("3사분위: ",df['age'].quantile(0.75))

result = abs(df['age'].quantile(0.25) - df['age'].quantile(0.75))
# print("절대값 차이: ",result)

print(int(result))

50

## 문제 2

1-2.(loves반응+wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, status_type=='video'인 데이터의 갯수

In [39]:
# My)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/4_1/fb.csv")

df['check'] = (df['loves']+df['wows'])/df['reactions']
cond1 = (df['check'] > 0.4) & (df['check'] < 0.5)
cond2 = df['type'] == 'video'
print(len(df[cond1 & cond2]))

90

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/4_1/fb.csv")
cond1 = (df['loves'] + df['wows'])/ df['reactions'] > 0.4
cond2 = (df['loves'] + df['wows'])/ df['reactions'] < 0.5
cond3 = df['type'] == 'video'

print(len(df[cond1 & cond2 & cond3]))

90

## 문제 3

1-3. date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수¶

In [66]:
# My)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/4_1/nf.csv")

# print(df.head(2))
# print(df.info())
# cond = df['date_added'].str.contains('January')
# print(df[cond])

df['date_added'] = pd.to_datetime(df['date_added'])
df['year'] = df['date_added'].dt.year
df['month'] = df['date_added'].dt.month

cond1 = df['year'] == 2018
cond2 = df['month'] == 1
cond3 = df['country'] == 'United Kingdom'
print(len(df[cond1 & cond2 & cond3]))
# print(df[cond1 & cond2 & cond3])

6

In [ ]:
# 풀이1 datatime 활용1
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/4_1/nf.csv")

cond1 = df['country'] == "United Kingdom"

df['date_added'] = pd.to_datetime(df['date_added'])
df['year'] = df['date_added'].dt.year
df['month'] = df['date_added'].dt.month


cond2 = df['year'] == 2018
cond3 = df['month'] == 1

print(len(df[cond1 & cond2 & cond3]))

6

In [ ]:
# 풀이2 datatime 활용2
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/4_1/nf.csv")

cond1 = df['country'] == "United Kingdom"

df['date_added'] = pd.to_datetime(df['date_added'])

cond2 = df['date_added'] >= '2018-1-1'
cond3 = df['date_added'] <= '2018-1-31'

print(len(df[cond1 & cond2 & cond3]))

6

In [ ]:
# 풀이3 datatime + between 활용
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/4_1/nf.csv")

cond1 = df['country'] == "United Kingdom"
df['date_added'] = pd.to_datetime(df['date_added'])
cond2 = df['date_added'].between('2018-1-1', '2018-1-31')
print(len(df[cond1 & cond2]))

6

In [ ]:
# 풀이4
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/4_1/nf.csv")

cond1 = df['country'] == "United Kingdom"

df['date_added'] = df['date_added'].fillna("")

str1 = "2018"
str2 = "January"
cond2 = df['date_added'].str.contains(str1)
cond3 = df['date_added'].str.contains(str2)

print(len(df[cond1 & cond2 & cond3]))

6

## 문제 4

(추가 문제) 4. 만약 'country'컬럼에 대소문자 함께 있고, 띄어쓰기가 있는 것도 있고 없는 것도 있다면?

In [76]:
# My)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/4_1/nf.csv")

# 띄어쓰기 제거
df['country'] = df['country'].str.replace(' ', '')

# 소문자로 변경
df['country'] = df['country'].str.lower()

cond1 = df['country'] == 'unitedkingdom'

df['date_added'] = pd.to_datetime(df['date_added'])
cond2 = df['date_added'].between('2018-01-01', '2018-01-31')
print(len(df[cond1 & cond2]))

6

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p4/4_1/nf.csv")

# 띄어쓰기 제거
df['country'] = df['country'].str.replace(' ','')

# 소문자로 변경
df['country'] = df['country'].str.lower()
df['country']

cond1 = df['country'] == "unitedkingdom"

df['date_added'] = pd.to_datetime(df['date_added'])
df['year'] = df['date_added'].dt.year
df['month'] = df['date_added'].dt.month

cond2 = df['year'] == 2018
cond3 = df['month'] == 1

print(len(df[cond1 & cond2 & cond3]))

6

# 기출 3회_작업형1
- 빅데이터 분석기사 3회 실기
- 데이터: members.csv 또는 임의 데이터 생성

## 문제1
- 결측치 데이터(행)을 제거하고, 앞에서부터 70% 데이터만 활용해, 'f1' 컬럼 1사분위 값을 구하시오
- 데이터: members.csv

In [13]:
import pandas as pd
df = pd.read_csv("members.csv")

# print(df.isnull().sum())
# print(df.shape)

df = df.dropna()
# print(df.isnull().sum())
# print(df.shape)

# print(int(len(df)*0.7))
df = df.iloc[:int(len(df)*0.7)]
# print(df.shape)

print(df['f1'].quantile(0.25))

57.0

## 문제2
- index는 년도임. 2000년 데이터 중 2000년 평균보다 큰 값의 데이터 수
- 데이터: 아래 셀 실행

In [31]:
# 데이터 생성(먼저 실행해 주세요)
import pandas as pd
import random
random.seed(2022)
df = pd.DataFrame()
for i in range(0, 3):
    list_box = []
    for k in range(0, 200):
        ran_num = random.randint(1,200)
        list_box.append(ran_num)
    df[i+1999] = list_box
df = df.T
df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
1999,137,74,114,140,80,150,16,133,178,181,...,124,94,118,12,50,191,137,174,56,128
2000,176,87,64,110,128,16,8,4,123,87,...,59,22,3,108,17,104,101,161,156,43
2001,128,132,123,112,134,160,180,47,115,155,...,160,111,116,75,48,51,81,101,194,73

In [32]:
# 방법 1
m = df.loc[2000].mean()
print(sum(df.loc[2000, :] > m))

# 방법 2
df = df.T
m = df[2000].mean()
print(sum(df[2000] > m))

100
100

## 문제3
- 결측치가 제일 많은 값의 컬럼명
- 데이터: members.csv

In [44]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/refs/heads/main/p1/members.csv")

# 방법 1
# df = df.isnull().sum()
# df = df.sort_values(ascending=False)
# print(df.index[0])

# 방법 2
df = df.isnull().sum()
df = df.reset_index()
print(df.loc[3, 'index'])

f1