[êµ¬ê¸€ ì½”ë©(Colab)ì—ì„œ ì‹¤í–‰í•˜ê¸°](https://colab.research.google.com/github/lovedlim/bigdata_analyst_cert_v2/blob/main/part1/ch3/ch3_ex_type1.ipynb)

- [ì•ˆë‚´] FutureWarningì€ ë¬´ì‹œí•´ë„ ë¨

In [124]:
# í”íˆ ë°œìƒí•˜ëŠ” FutureWarning
# df['views'].fillna(min, inplace=True)  # ë³€ê²½ ì „ (ê²½ê³  ë°œìƒ ê°€ëŠ¥)
# df['views'] = df['views'].fillna(min)  # ë³€ê²½ í›„ (ê¶Œì¥ ë°©ì‹)

### ğŸŠ Section1. í•„í„°ë§, ìµœì†Ÿê°’, ì¤‘ì•™ê°’
#### â˜‘ï¸ <span style='background-color: #fff5b1'>.fillna() ì‚¬ìš© ì‹œ ì£¼ì˜ì‚¬í•­</span>
- inplace=TrueëŠ” ë²„ì „ ì¶©ëŒë¡œ ì¸í•œ ê²½ê³  ìš°ë ¤ê°€ ìˆìœ¼ë‹ˆ, ë³€ìˆ˜ì— ì§ì ‘ í• ë‹¹í•´ì£¼ëŠ” ë°©ì‹ í™œìš©í•˜ê¸°!

In [13]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

# 1) 'f5' ì»¬ëŸ¼ì´ 0ì´ ì•„ë‹Œ ë°ì´í„°(í–‰) êµ¬í•˜ê¸°
cond = df['f5'] != 0
df = df[cond]

# 2) 'views' ì»¬ëŸ¼ ê²°ì¸¡ì¹˜ë¥¼ 'views' ì»¬ëŸ¼ì˜ ìµœì†Ÿê°’ìœ¼ë¡œ ì±„ìš°ê¸°
v_min = df['views'].min()
df['views'] = df['views'].fillna(v_min)

# 3) 'views' ì»¬ëŸ¼ì˜ ì¤‘ì•™ê°’ì„ ê³„ì‚°í•´ ì •ìˆ˜ë¡œ êµ¬í•˜ê¸°
print(int(df['views'].median()))

5924

### ğŸŠ Section2. ì¹´í…Œê³ ë¦¬, ì¸ë±ìŠ¤, ë¬¸ìì—´ ìŠ¬ë¼ì´ì‹±
#### â˜‘ï¸ <span style='background-color: #fff5b1'>.index ê°œë… ì„¤ëª…</span>
<img src="images/q1.png" width="550"/>

In [46]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

# SOL 1) .mode() í™œìš©

# 1) 'subscribed' ì»¬ëŸ¼ì—ì„œ ê°€ì¥ ë¹ˆë„ìˆ˜ê°€ ë§ì€ ë‚ ì§œ êµ¬í•˜ê¸°
max_date = df['subscribed'].mode()[0]

# 2) ì•ì„œ êµ¬í•œ ë‚ ì§œì˜ ì¼(day) ê°’ì„ ì •ìˆ˜ë¡œ êµ¬í•˜ê¸°
print(int(max_date.strip()[-2:]))

# ----------------------

# SOL 2) .value_counts() í™œìš©
df = df['subscribed'].value_counts()
print(int(df.index[0][-2:]))

17
17

### ğŸ¥¦ Section3. íŒŒìƒë³€ìˆ˜, ì •ë ¬, ì¸ë±ì‹±

In [83]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

# SOL 1) .max()ë¡œ ìµœëŒ“ê°’ êµ¬í•´ì„œ ì¡°ê±´ ì„¤ì • -> .loc[]
df = df.dropna()
df['new'] = df['views']/df['f1']
cond = df['new'] == df['new'].max()
print(int(df[cond].loc[:, 'age'].values[0]))

# ----------------------

# SOL 2) .sort_values()ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ -> .iloc[]
df = df.sort_values('new', ascending=False)
print(int(df.iloc[0, 1]))

22
22

### ğŸŠ Section4. ê°’ ë³€ê²½, ì •ë ¬, í•©ê³„
#### â˜‘ï¸ <span style='background-color: #fff5b1'>df['views'] vs df.loc[:,'views']</span>
<img src="images/q2.png" width="550"/>

- **loc[í–‰, ì—´]** ì‚¬ìš© ì‹œ **ì¡°ê±´ ëŒ€ì…** ê°€ëŠ¥!

In [107]:
import pandas as pd

# SOL 1) sort_values()
df = pd.read_csv("type1_data1.csv")
df['views'] = df['views'].fillna(0)

df = df.sort_values('views', ascending=False)
value_10 = df.iloc[9]['views']
df.iloc[:10, -1] = value_10
print(int(df['views'].sum()))

# ----------------------

# SOL 2) nlargest()
df = pd.read_csv("type1_data1.csv")
df['views'] = df['views'].fillna(0)

value_10 = df['views'].nlargest(10).iloc[-1]
df.loc[df['views'] > value_10, 'views'] = value_10
print(int(df['views'].sum()))

652812
652812

### ğŸŠ Section5. ë¬¸ìì—´ ìŠ¬ë¼ì´ì‹±, íŒŒìƒë³€ìˆ˜, í‰ê· ê°’
- ë°ì´í„°í”„ë ˆì„ì˜ íŠ¹ì • ê°’ì„ ë¬¸ìì—´ ìŠ¬ë¼ì´ì‹±í•˜ê¸° ìœ„í•´ì„œëŠ” ìš°ì„  ë¬¸ìì—´ë¡œ ë³€ê²½í•œë‹¤ => **df['f4'].str[ë²”ìœ„]**

#### â˜‘ï¸ <span style='background-color: #fff5b1'>str.contains()</span>
- str.contains()ëŠ” Pandasì˜ ë¬¸ìì—´ ì²˜ë¦¬ í•¨ìˆ˜
- **íŠ¹ì • ë¬¸ìì—´ì´ í¬í•¨**ë˜ì–´ ìˆëŠ”ì§€ ì—¬ë¶€ë¥¼ íŒë³„í•´ **True/False**ë¡œ ë°˜í™˜

In [125]:
import pandas as pd

# SOL 1) ë¬¸ìì—´ ë³€ê²½ í›„ ìŠ¬ë¼ì´ì‹±
df = pd.read_csv("type1_data1.csv")
cond_FJ = df['f4'].str[2:] == 'FJ'
df = df[cond_FJ]
print(round(df['f2'].mean(), 2))

# ----------------------

# SOL 2) str.contains()ë¡œ íŠ¹ì • ë¬¸ì ì°¾ê¸°
df = pd.read_csv("type1_data1.csv")
cond = df['f4'].str.contains('FJ')
df = df[cond]
print(round(df['f2'].mean(), 2))

0.61
0.61

### ğŸ¥¦ Section6. í•„í„°ë§, ë¶„ì‚°

In [133]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

cond = (df['f3'] == 'gold') & (df['f2'] == 2)
result = df[cond]['f1'].var()
print(round(result, 2))

235.43

### ğŸ¥¦ Section7. ê°’ ë³€ê²½(ì—°ì‚°), í•„í„°ë§ ì ˆëŒ“ê°’

In [138]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

df['age'] = df['age']+1

cond_1 = (df['age'] >= 20) & (df['age'] < 30)
mean_1 = df[cond_1]['views'].mean()
cond_2 = (df['age'] >= 30) & (df['age'] < 40)
mean_2 = df[cond_2]['views'].mean()

print(round(abs(mean_1 - mean_2), 2))

263.13

### ğŸ¥¦ Section8. ì‹œê³„ì—´ ë°ì´í„°, í•„í„°ë§, ë°ì´í„° ê°œìˆ˜

In [152]:
import pandas as pd

# SOL 1) ë¬¸ìì—´ë¡œ ì²˜ë¦¬
df = pd.read_csv("type1_data1.csv")
cond = df['subscribed'].str.contains('2024-02')
df = df[cond]
print(sum(df['f3'] == 'gold'))

# ----------------------

# SOL 2) datetimeìœ¼ë¡œ ìë£Œí˜• ë³€í™˜í•´ì„œ ì²˜ë¦¬
df = pd.read_csv("type1_data1.csv")
df['subscribed'] = pd.to_datetime(df['subscribed'], format = '%Y-%m-%d')

# íŒŒìƒë³€ìˆ˜ ìƒì„± (ë…„, ì›”)
df['year'] = df['subscribed'].dt.year
df['month'] = df['subscribed'].dt.month

# 2024ë…„ 2ì›”ì´ê³ , 'f3'ì´ goldì¸ ë°ì´í„°
cond1 = df['year'] == 2024
cond2 = df['month'] == 2
cond3 = df['f3'] == 'gold'

print(len(df[cond1 & cond2 & cond3]))

5
5

### ğŸŠ Section9. í•„í„°ë§, ì¹´í…Œê³ ë¦¬, ìµœë¹ˆê°’
- **df['f4'].value_counts()**: Seriesë¥¼ ë°˜í™˜í•˜ë©°, f4 ì»¬ëŸ¼ì˜ ê³ ìœ ê°’(ex. ENTJ ë“±)ì´ ì¸ë±ìŠ¤ë¡œ ì„¤ì •ëœë‹¤.
- .value_counts()ëŠ” ê¸°ë³¸ì ìœ¼ë¡œ **ë‚´ë¦¼ì°¨ìˆœ** ì •ë ¬ => ì²« ë²ˆì§¸ í–‰ì´ ìµœë¹ˆê°’

In [166]:
import pandas as pd

# SOL 1) .mode() í™œìš©
df = pd.read_csv("type1_data1.csv")
cond = df['views'] <= 1000
df = df[cond]
print(df['f4'].mode()[0])

# ----------------------

# SOL 2) .value_counts() í™œìš©
df = pd.read_csv("type1_data1.csv")
cond = df['views'] <= 1000
df = df[cond]
df = df['f4'].value_counts()
print(df.index[0])

ISFJ
ISFJ

### ğŸ¥¦ Section10. ê·¸ë£¹í•‘, ìµœëŒ“ê°’, ì •ë ¬

In [181]:
import pandas as pd

# SOL 1) sort_values()ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ ì¸ë±ìŠ¤ ê°’(city) ì¶œë ¥
df = pd.read_csv("type1_data1.csv")
df = df.dropna()
df = df.groupby(['city']).mean(numeric_only=True)
print(df.sort_values('f2', ascending=False).index[0])

# ----------------------

# SOL 2) idxmax(): ìµœëŒ“ê°’ì˜ ì¸ë±ìŠ¤ ë°˜í™˜
df = pd.read_csv("type1_data1.csv")
df = df.dropna()
df = df.groupby('city').mean(numeric_only=True)
print(df['f2'].idxmax())

ì„œìš¸
ì„œìš¸

### ğŸ¥¦ Section11. ìŠ¬ë¼ì´ì‹±, ì‚¬ë¶„ìœ„ìˆ˜, ê²°ì¸¡ì¹˜ ì œê±°

In [17]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

# ê²°ì¸¡ì¹˜ ìˆëŠ” ë°ì´í„° í–‰ ì œê±°
df = df.dropna()

# 70% ë°ì´í„° ìŠ¬ë¼ì´ì‹±
end = int(len(df)*0.7)
df = df.iloc[:end]

# 'views' ì»¬ëŸ¼ì˜ 3ì‚¬ë¶„ìœ„ìˆ˜ì—ì„œ 1ì‚¬ë¶„ìœ„ìˆ˜ë¥¼ ëº€ ê°’ì„ ì •ìˆ˜ë¡œ êµ¬í•˜ê¸°
q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)
print(int(q3-q1))

2771

### ğŸŠ Section12. ê²°ì¸¡ì¹˜ ì²˜ë¦¬, ìµœë¹ˆê°’, ë°ì´í„° ê°œìˆ˜

#### â˜‘ï¸ <span style='background-color: #fff5b1'>df.dropna()</span>
<img src="images/q3.png" width="500"/>

In [41]:
# SOL 1) ê²°ì¸¡ì¹˜ê°€ ê°€ì¥ ë§ì€ ì»¬ëŸ¼ ìˆ˜ë™ìœ¼ë¡œ í™•ì¸

import pandas as pd
df = pd.read_csv("type1_data1.csv")

# ê²°ì¸¡ì¹˜ê°€ ê°€ì¥ ë§ì€ ë‘ ì»¬ëŸ¼ ì°¾ê¸° => f1, f3
df.isnull().sum()

# ì²«ë²ˆì§¸ë¡œ ê²°ì¸¡ì¹˜ê°€ ë§ì€ ì»¬ëŸ¼ì—ì„œ ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” í–‰ ì œê±°
df = df.dropna(subset=['f1'])

# ë‘ë²ˆì§¸ë¡œ ê²°ì¸¡ì¹˜ê°€ ë§ì€ ì»¬ëŸ¼ì„ ìµœë¹ˆê°’ìœ¼ë¡œ ëŒ€ì²´
freq = df['f3'].mode()[0]
df['f3'] = df['f3'].fillna(freq)

# 'f3'ì»¬ëŸ¼ì˜ 'gold'ê°’ì„ ê°€ì§„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ì •ìˆ˜í˜•ìœ¼ë¡œ êµ¬í•˜ê¸°
print(len(df[df['f3']=='gold']))
print(sum(df['f3']=='gold'))

63
63

In [94]:
# SOL 2) ê²°ì¸¡ì¹˜ê°€ ê°€ì¥ ë§ì€ ì»¬ëŸ¼ idxmax()ë¡œ êµ¬í•˜ê¸°

import pandas as pd
df = pd.read_csv("type1_data1.csv")

# ê²°ì¸¡ì¹˜ê°€ ê°€ì¥ ë§ì€ ì»¬ëŸ¼
col = df.isnull().sum().idxmax()

# ê²°ì¸¡ì¹˜ê°€ ê°€ì¥ ë§ì€ ì»¬ëŸ¼ ì œê±°
df = df.dropna(subset=[col])

# ë‘ë²ˆì§¸ë¡œ ê°€ì¥ ê²°ì¸¡ì¹˜ê°€ ë§ì€ ì»¬ëŸ¼ ìµœë¹ˆê°’ ëŒ€ì²´
freq = df['f3'].mode()[0]
df['f3'] = df['f3'].fillna(freq)

# f3ì»¬ëŸ¼ì´ goldì¸ ë°ì´í„°ì˜ ìˆ˜
print(len(df[df['f3'] == 'gold']))

63

### ğŸ¥¦ Section13. ê²°ì¸¡ ë°ì´í„° ì°¾ê¸°, í•„í„°ë§, í‰ê· ê°’

In [49]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

cond = df['f1'].isnull()
df = df[cond]
print(round(df['age'].mean(), 1))

53.6

### ğŸŠ Section14. ì¤‘ë³µ ë°ì´í„° ì œê±°, ê°’ ë³€ê²½, ë°ì´í„° ê°œìˆ˜

#### â˜‘ï¸ <span style='background-color: #fff5b1'>df.drop_duplicates() / df.duplicated()</span>
<img src="images/q4.png" width="550"/>

In [93]:
# SOL 1) replace()ë¡œ ê²°ì¸¡ê°’ ëŒ€ì²´

import pandas as pd
import numpy as np
df = pd.read_csv("type1_data1.csv")

# ì¤‘ë³µ ë°ì´í„° ì œê±°
df = df.drop_duplicates()

# ê²°ì¸¡ê°’ ëŒ€ì²´
df['f3'] = df['f3'].replace(np.nan, 0).replace('silver', 1).replace('gold', 2).replace('vip', 3)

# ë³€í™˜ëœ 'f3' ì»¬ëŸ¼ì˜ ì´í•©ì„ ì •ìˆ˜í˜•ìœ¼ë¡œ êµ¬í•˜ê¸°
print(int(df['f3'].sum()))

167

/var/folders/zb/jr1wvwf97ssf0lbcg9tv2fhr0000gn/T/ipykernel_87555/856143663.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['f3'] = df['f3'].replace(np.nan, 0).replace('silver', 1).replace('gold', 2).replace('vip', 3)

In [67]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

# ì¤‘ë³µëœ ì—´ í™•ì¸
df[df.duplicated(keep=False)]

        id   age city    f1  f2    f3    f4         f5  subscribed    views
10   id100  47.0   ê²½ê¸°  53.0   0   vip  ESFP  33.308999  2024-02-21  15535.0
68    id68  35.0   ê²½ê¸°  45.0   2  gold  ISFP  67.886373  2024-07-29   8599.0
100  id100  47.0   ê²½ê¸°  53.0   0   vip  ESFP  33.308999  2024-02-21  15535.0
101   id68  35.0   ê²½ê¸°  45.0   2  gold  ISFP  67.886373  2024-07-29   8599.0

In [79]:
# SOL 2) ë“±ê¸‰ë³„ ê°œìˆ˜ ì„¸ì„œ ì¡°ê±´ì— ì œì‹œëœ ê°’ ê³±í•˜ëŠ” ë°©ì‹ 

import pandas as pd
df = pd.read_csv("type1_data1.csv")

# ì¤‘ë³µë°ì´í„° ì œê±°
df.drop_duplicates(inplace=True)

# ê³„ì‚°
r1 = sum(df['f3'] == 'silver') * 1
r2 = sum(df['f3'] == 'gold') * 2
r3 = sum(df['f3'] == 'vip') * 3
print(r1 + r2 + r3)

167

In [106]:
# SOL 3) replace() ëŒ€ì‹  'ë”•ì…”ë„ˆë¦¬ + map()' í™œìš© => BEST !!!

import pandas as pd
import numpy as np
df = pd.read_csv("type1_data1.csv")

# ì¤‘ë³µ ë°ì´í„° ì œê±°
df = df.drop_duplicates()

# ê²°ì¸¡ê°’ ëŒ€ì²´
dict_list = {np.nan: 0, 'silver': 1, 'gold': 2, 'vip': 3}
df['f3'] = df['f3'].map(dict_list)

# ë³€í™˜ëœ 'f3' ì»¬ëŸ¼ì˜ ì´í•©ì„ ì •ìˆ˜í˜•ìœ¼ë¡œ êµ¬í•˜ê¸°
print(int(df['f3'].sum()))

167

In [113]:
# SOL 4) replace()ì— ë”•ì…”ë„ˆë¦¬ ë„£ìœ¼ë©´ FutureWarning (íƒ€ì… ë³€í™˜ ë¬¸ì œ)

import pandas as pd
import numpy as np
df = pd.read_csv("type1_data1.csv")

# ì¤‘ë³µ ë°ì´í„° ì œê±°
df = df.drop_duplicates()

# ê²°ì¸¡ê°’ ëŒ€ì²´
dict_list = {np.nan: 0, 'silver': 1, 'gold': 2, 'vip': 3}
df['f3'] = df['f3'].replace(dict_list)

# ë³€í™˜ëœ 'f3' ì»¬ëŸ¼ì˜ ì´í•©ì„ ì •ìˆ˜í˜•ìœ¼ë¡œ êµ¬í•˜ê¸°
print(int(df['f3'].sum()))

167

/var/folders/zb/jr1wvwf97ssf0lbcg9tv2fhr0000gn/T/ipykernel_87555/4270112871.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['f3'] = df['f3'].replace(dict_list)

### ğŸŠ Section15. ì»¬ëŸ¼ ì‚­ì œ, í–‰ ë‹¨ìœ„ í•©ê³„, í•„í„°ë§

#### â˜‘ï¸ <span style='background-color: #fff5b1'>df.select_dtypes()</span>
<img src="images/q5.png" width="500"/>

In [132]:
# SOL 1) sum(axis=1): í–‰ ê¸°ì¤€ìœ¼ë¡œ í•© ê³„ì‚°

import pandas as pd
df = pd.read_csv("type1_data1.csv")

# ë¬¸ì ìë£Œí˜• ì»¬ëŸ¼ ì‚­ì œ
cols = df.select_dtypes(exclude='object').columns
df = df[cols]

# ê²°ì¸¡ì¹˜ 0ìœ¼ë¡œ ëŒ€ì²´
df = df.fillna(0)

print(len(df[df.sum(axis=1) > 3000]))
print(sum(df.sum(axis=1) > 3000))

88
88

In [135]:
# SOL 2) í–‰ê³¼ ì—´ transpose í›„ sum() ê³„ì‚°

import pandas as pd
df = pd.read_csv("type1_data1.csv")

# ë¬¸ì ìë£Œí˜• ì»¬ëŸ¼ ì‚­ì œ
cols = df.select_dtypes(exclude='object').columns
df = df[cols]

# ê²°ì¸¡ì¹˜ 0ìœ¼ë¡œ ëŒ€ì²´
df = df.fillna(0)

df = df.T
print(sum(df.sum() > 3000))

88

### ğŸ¥¦ Section16. ì´ìƒì¹˜, IQR

In [143]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

# ì´ìƒì¹˜ ê¸°ì¤€ êµ¬í•˜ê¸° (low, high)
q1 = df['views'].quantile(.25)
q3 = df['views'].quantile(.75)
IQR = q3-q1
low, high = q1-1.5*IQR, q3+1.5*IQR

# ì´ìƒì¹˜ ì¡°ê±´ì— ë§ëŠ” ë°ì´í„° ì°¾ê¸°
cond1 = df['views']>high
cond2 = df['views']<low
df = df[cond1 | cond2]

# ì´ìƒì¹˜ ë°ì´í„°ì˜ views ì»¬ëŸ¼ í•© ì •ìˆ˜ë¡œ êµ¬í•˜ê¸°
print(int(df['views'].sum()))

77699

### ğŸ¥¦ Section17. ì´ìƒì¹˜, ì†Œìˆ˜ì  ìˆëŠ” ë°ì´í„° ì°¾ê¸°, í‘œì¤€í¸ì°¨

In [156]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

# ì´ìƒì¹˜ ì œê±° ì „ í‘œì¤€í¸ì°¨
std1 = df['views'].std()

# ì´ìƒì¹˜ ì œê±° í›„ í‘œì¤€í¸ì°¨
cond1 = df['age'] <= 0
cond2 = df['age'] != df['age'].map(int) # ì†Œìˆ˜ì  ì¡´ì¬
df = df[~cond1 & ~cond2]
std2 = df['views'].std()

# ì´ìƒì¹˜ ì œê±° ì „í›„ 'views' í‘œì¤€í¸ì°¨ ë”í•´ì„œ ì†Œìˆ˜ ë‘˜ì§¸ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼
print(round(std1+std2, 2))

8297.31

### ğŸ¥¦ Section18. ë°ì´í„°(í–‰) ê¸°ì¤€ í‰ê· ê°’, ì¸ë±ì‹±

In [167]:
# SOL 1) ì¸ë±ìŠ¤(í–‰) ê¸°ì¤€ ê³„ì‚°

import pandas as pd
df = pd.read_csv("type1_data2.csv", index_col="year")

# index '2001' ë°ì´í„°ì—ì„œ í‰ê· ë³´ë‹¤ í° ê°’ì˜ ê°œìˆ˜
m1 = df.loc[2001].mean()
cnt1 = sum(df.loc[2001] > m1)

# index '2003' ë°ì´í„°ì—ì„œ í‰ê· ë³´ë‹¤ ì‘ì€ ê°’ì˜ ê°œìˆ˜
m2 = df.loc[2003].mean()
cnt2 = sum(df.loc[2003] < m2)

# ë‘ ê°œìˆ˜ì˜ í•©
print(cnt1+cnt2)

202

In [170]:
# SOL 2) transpose í›„ ì—´ ê¸°ì¤€ ê³„ì‚°

import pandas as pd
df = pd.read_csv("type1_data2.csv", index_col="year")
df = df.T

# index '2001' ë°ì´í„°ì—ì„œ í‰ê· ë³´ë‹¤ í° ê°’ì˜ ê°œìˆ˜
m1 = df[2001].mean()
r1 = sum(df[2001] > m1)

# index '2003' ë°ì´í„°ì—ì„œ í‰ê· ë³´ë‹¤ ì‘ì€ ê°’ì˜ ê°œìˆ˜
m2 = df[2003].mean()
r2 = sum(df[2003] < m2)

print(r1+r2)

202

### ğŸŠ Section19. ê²°ì¸¡ì¹˜(ë’¤ì˜ ê°’ìœ¼ë¡œ ëŒ€ì²´), ê·¸ë£¹í•©

#### â˜‘ï¸ <span style='background-color: #fff5b1'>df.fillna() / df.bfill() / df.ffill()</span>
<img src="images/q6.png" width="550"/>

In [187]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

# ê²°ì¸¡ì¹˜ ë°”ë¡œ ë’¤ì˜ ê°’ìœ¼ë¡œ ëŒ€ì²´
df = df.bfill()

# 'city'ì™€ 'f2' ê¸°ì¤€ ê·¸ë£¹í•© ê³„ì‚°
df = df.groupby(['city', 'f2']).sum(numeric_only=True).reset_index()

# 'views' ê°’ì´ ì„¸ ë²ˆì§¸ë¡œ í° city ì¶œë ¥
df = df.sort_values(by='views', ascending=False)
print(df.iloc[2]['city'])

ê²½ê¸°

### ğŸŠ Section20. ì‹œê³„ì—´ ë°ì´í„°, ì›”ë³„ ì§‘ê³„, ì¸ë±ìŠ¤

#### â˜‘ï¸ <span style='background-color: #fff5b1'>pd.to_datetime()</span>
<img src="images/q7.png" width="570"/>

In [208]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

# ì—°ë„ êµ¬ë¶„ ì—†ì´ ì›”ë³„ë¡œ ìˆ«ìí˜• ì»¬ëŸ¼ì˜ í•© êµ¬í•˜ê¸°
df['subscribed'] = pd.to_datetime(df['subscribed'])
df['month'] = df['subscribed'].dt.month
df = df.groupby(['month']).sum(numeric_only=True)

# í•©ê³„ ì¤‘ 'views'ê°€ ê°€ì¥ ì‘ì€ ê°’ì„ ê°€ì§„ ì›”ì„ ì •ìˆ˜ë¡œ êµ¬í•˜ê¸°
df = df.sort_values(by='views')
print(int(df.index[0]))

11

### ğŸŠ Section21. ì‹œê°„ ê°„ì˜ ì°¨ì´ ê³„ì‚°(ë¶„), í•„í„°ë§

#### â˜‘ï¸ <span style='background-color: #fff5b1'>.dt.total_seconds() / .dt.days / .dt.seconds / .dt.components</span>
<img src="images/q8.png" width="575"/>

In [221]:
import pandas as pd
df = pd.read_csv("delivery_time.csv")

# datetimeìœ¼ë¡œ ìë£Œí˜• ë³€ê²½
df['ì‹¤ì œë„ì°©ì‹œê°„'] = pd.to_datetime(df['ì‹¤ì œë„ì°©ì‹œê°„'])
df['ì˜ˆìƒë„ì°©ì‹œê°„'] = pd.to_datetime(df['ì˜ˆìƒë„ì°©ì‹œê°„'])

# ì§€ì—°ì‹œê°„ ê³„ì‚° (ë¶„)
df['ì§€ì—°ì‹œê°„'] = (df['ì‹¤ì œë„ì°©ì‹œê°„']-df['ì˜ˆìƒë„ì°©ì‹œê°„']).dt.total_seconds()/60

# ì¡°ê±´ 1: ì˜ˆìƒ ë„ì°© ì‹œê°„ë³´ë‹¤ ëŠ¦ê²Œ ë„ì°©í•œ ê±´
cond1 = df['ì§€ì—°ì‹œê°„'] > 0

# ì¡°ê±´ 2: ì´ ì¤‘ ê±°ë¦¬ê°€ 7km ì´ìƒì¸ ê±´
cond2 = df['ê±°ë¦¬'] >= 7

print(len(df[cond1 & cond2]))
df

311

,ì£¼ë¬¸ì‹œê°„,ì‹¤ì œë„ì°©ì‹œê°„,ì˜ˆìƒë„ì°©ì‹œê°„,ì•±ì¢…ë¥˜,ê±°ë¦¬,ê²°ì œì¢…ë¥˜,user,ì§€ì—°ì‹œê°„
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,ì—¬ê¸°ì—¬,1.93,ì¹´ë“œ,user_275,34.400000
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,ë°°ê³ íŒ¡,5.19,ì¹´ë“œ,user_360,-6.183333
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,ë°°ê³ íŒ¡,13.85,ì¹´ë“œ,user_36,39.883333
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,ë°°ê³ íŒ¡,10.90,ì•±ê²°ì œ,user_65,7.866667
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,ì—¬ê¸°ì—¬,14.96,ì¹´ë“œ,user_176,36.000000
...,...,...,...,...,...,...,...,...
995,2022-10-10 03:13:30,2022-10-10 04:13:48,2022-10-10 04:15:37,ë°°ê³ íŒ¡,1.79,í˜„ê¸ˆ,user_186,-1.816667
996,2023-02-03 12:47:19,2023-02-03 13:11:46,2023-02-03 13:12:57,ë°°ê³ íŒ¡,15.55,ì¹´ë“œ,user_239,-1.183333
997,2023-01-05 21:28:58,2023-01-05 21:57:41,2023-01-05 21:57:44,ë°°ê³ íŒ¡,8.33,í˜„ê¸ˆ,user_264,-0.050000
998,2023-06-15 03:56:42,2023-06-15 04:14:24,2023-06-15 04:18:38,ì—¬ê¸°ì—¬,8.20,ì•±ê²°ì œ,user_229,-4.233333
999,2023-08-02 20:53:53,2023-08-02 22:04:06,2023-08-02 22:09:22,ì—¬ê¸°ì—¬,5.33,ì¹´ë“œ,user_148,-5.266667

### ğŸ¥¦ Section22. ì‹œê°„ ê°„ì˜ ì°¨ì´ ê³„ì‚°(ë¶„), ê·¸ë£¹í•‘

In [243]:
import pandas as pd
df = pd.read_csv("delivery_time.csv")

# ë„ì°©ì†Œìš”ì‹œê°„ ë¶„ë‹¨ìœ„ ê³„ì‚°: ì‹¤ì œë„ì°©ì‹œê°„ - ì£¼ë¬¸ì‹œê°„
df['ì‹¤ì œë„ì°©ì‹œê°„'] = pd.to_datetime(df['ì‹¤ì œë„ì°©ì‹œê°„'])
df['ì£¼ë¬¸ì‹œê°„'] = pd.to_datetime(df['ì£¼ë¬¸ì‹œê°„'])
df['ë„ì°©ì†Œìš”ì‹œê°„'] = (df['ì‹¤ì œë„ì°©ì‹œê°„']-df['ì£¼ë¬¸ì‹œê°„']).dt.total_seconds()/60

# ì•± ì¢…ë¥˜ë³„ í‰ê·  ë„ì°©ì†Œìš”ì‹œê°„ ê³„ì‚°
df = df.groupby(['ì•±ì¢…ë¥˜'])['ë„ì°©ì†Œìš”ì‹œê°„'].mean()

# í‰ê· ì ìœ¼ë¡œ ê°€ì¥ ë¹ ë¥¸ ì•±ì˜ í‰ê·  ë„ì°© ì‹œê°„ì„ ë¶„ìœ¼ë¡œ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì •ìˆ˜ë¡œ êµ¬í•˜ê¸°
print(round(df.min()))

62

### ğŸŠ Section23. ì‹œê°„ ê°„ì˜ ì°¨ì´ ê³„ì‚°(ë¶„), ë¹„ìœ¨

In [257]:
import pandas as pd
df = pd.read_csv("delivery_time.csv")

# ê° ê²°ì œ ì¢…ë¥˜ë³„ë¡œ ì‹¤ì œë„ì°©ì‹œê°„ì´ ì˜ˆìƒë„ì°©ì‹œê°„ë³´ë‹¤ ëŠ¦ì€ ì£¼ë¬¸ì˜ ë¹„ìœ¨ ê³„ì‚°
df['ì‹¤ì œë„ì°©ì‹œê°„'] = pd.to_datetime(df['ì‹¤ì œë„ì°©ì‹œê°„'])
df['ì˜ˆìƒë„ì°©ì‹œê°„'] = pd.to_datetime(df['ì˜ˆìƒë„ì°©ì‹œê°„'])
df['ì§€ì—°ì‹œê°„'] = (df['ì‹¤ì œë„ì°©ì‹œê°„'] - df['ì˜ˆìƒë„ì°©ì‹œê°„']).dt.total_seconds()/60
df['ì§€ì—°ì—¬ë¶€'] = df['ì§€ì—°ì‹œê°„'] > 0
result = df.groupby(['ê²°ì œì¢…ë¥˜'])['ì§€ì—°ì—¬ë¶€'].mean()
result

# ë¹„ìœ¨ ì¤‘ ê°€ì¥ í° ê°’ì„ ë°˜ì˜¬ë¦¼í•´ì„œ ì†Œìˆ˜ ë‘˜ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ê¸°
print(round(result.max(), 2))

0.56

### ğŸŠ Section24. ê·¸ë£¹í•‘, ê°’ ì°¾ê¸°, í•„í„°ë§

#### â˜‘ï¸ <span style='background-color: #fff5b1'>.isin()</span>
<img src="images/q9.png" width="430"/>

In [273]:
import pandas as pd
df = pd.read_csv("delivery_time.csv")

# ì‚¬ìš©ìë³„ ì£¼ë¬¸ ê±°ë¦¬ì˜ í•©ê³„ê°€ 50km ì´ìƒì¸ ì‚¬ëŒë“¤ì˜ ê²°ì œ ë°©ì‹ êµ¬í•˜ê¸°

## ì£¼ë¬¸ ê±°ë¦¬ í•©ê³„ 50km ì´ìƒì¸ user ì •ë³´ë§Œ ë‹´ì€ series ìƒì„±
df_distance = df.groupby(['user'])['ê±°ë¦¬'].sum()
cond = df_distance >= 50
df_distance = df_distance[cond]

# dfì—ì„œ ì¡°ê±´ ì¶©ì¡±í•˜ëŠ” userë§Œ í•„í„°ë§
filtered_data = df[df['user'].isin(df_distance.index)]

# ì´ ê²°ì œ ë°©ì‹ ì¤‘ ê°€ì¥ ë¹ˆë„ê°€ ë†’ì€ ìˆ˜ êµ¬í•˜ê¸°
payment = filtered_data['ê²°ì œì¢…ë¥˜'].value_counts()
print(payment.iloc[0])

48

### ğŸŠ Section25. ì‹œê°„ ê°„ì˜ ì°¨ì´ ê³„ì‚°(ì¼)

#### â˜‘ï¸ <span style='background-color: #fff5b1'>.assign() / .transform() / .agg() / .apply()</span>
<img src="images/q10.png" width="575"/>

In [280]:
# SOL 1)

import pandas as pd
df = pd.read_csv("delivery_time.csv")

# ê° ì‚¬ìš©ìë³„ë¡œ ì²« ì£¼ë¬¸ê³¼ ë§ˆì§€ë§‰ ì£¼ë¬¸ ì‚¬ì´ì˜ ì‹œê°„ ê°„ê²©ì„ ì¼ ë‹¨ìœ„ë¡œ ê³„ì‚°
df['ì£¼ë¬¸ì‹œê°„'] = pd.to_datetime(df['ì£¼ë¬¸ì‹œê°„'])
min_order_time = df.groupby('user')['ì£¼ë¬¸ì‹œê°„'].min()
max_order_time = df.groupby('user')['ì£¼ë¬¸ì‹œê°„'].max()
time_interval = (max_order_time - min_order_time).dt.days

# ì‹œê°„ì°¨ê°€ 0ì¼ì¸ ì‚¬ìš©ìë¥¼ ì œì™¸í•˜ê³ , ë‚˜ë¨¸ì§€ ì‚¬ìš©ìë“¤ì˜ í‰ê·  ì‹œê°„ ê°„ê²©(ì¼ ë‹¨ìœ„) ê³„ì‚°
cond1 = time_interval > 0
m = time_interval[cond1].mean()

# í‰ê·  ì‹œê°„ ê°„ê²©ë³´ë‹¤ ê¸´ ì‹œê°„ ê°„ê²©ì„ ê°€ì§„ ì‚¬ìš©ìì˜ ìˆ˜ë¥¼ ì •ìˆ˜ë¡œ êµ¬í•˜ê¸°
cond2 = time_interval > m
print(len(time_interval[cond2]))

146

In [287]:
# SOL 2)

import pandas as pd

df = pd.read_csv("delivery_time.csv")
df['ì£¼ë¬¸ì‹œê°„'] = pd.to_datetime(df['ì£¼ë¬¸ì‹œê°„'])

# ì‚¬ìš©ìë³„ ìµœì´ˆ, ìµœì¢… ì£¼ë¬¸ì‹œê°„ì„ ì›ë³¸ dfì— ì¶”ê°€
df = df.assign(
    first_order=df.groupby('user')['ì£¼ë¬¸ì‹œê°„'].transform('min'),
    last_order=df.groupby('user')['ì£¼ë¬¸ì‹œê°„'].transform('max')
)

# ì‹œê°„ì°¨ ê³„ì‚° (ì¼ ë‹¨ìœ„)
df['interval_days'] = (df['last_order'] - df['first_order']).dt.days

# ì‚¬ìš©ìë³„ ì‹œê°„ì°¨ëŠ” ëª¨ë‘ ë™ì¼í•˜ë¯€ë¡œ drop_duplicatesë¡œ ì¤‘ë³µ ì œê±°
user_intervals = df[['user', 'interval_days']].drop_duplicates()

# ì‹œê°„ì°¨ê°€ 0ì¼ ì´ˆê³¼ì¸ ì‚¬ìš©ìë“¤ë§Œ ì¶”ë ¤ í‰ê·  ê³„ì‚°
valid_users = user_intervals[user_intervals['interval_days'] > 0]
avg_days = valid_users['interval_days'].mean()

# í‰ê· ë³´ë‹¤ í° ì‚¬ìš©ì ìˆ˜ ê³„ì‚°
count = (valid_users['interval_days'] > avg_days).sum()
print(int(count))
df

146

,ì£¼ë¬¸ì‹œê°„,ì‹¤ì œë„ì°©ì‹œê°„,ì˜ˆìƒë„ì°©ì‹œê°„,ì•±ì¢…ë¥˜,ê±°ë¦¬,ê²°ì œì¢…ë¥˜,user,first_order,last_order,interval_days
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,ì—¬ê¸°ì—¬,1.93,ì¹´ë“œ,user_275,2023-01-21 06:15:58,2023-07-26 08:05:49,186
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,ë°°ê³ íŒ¡,5.19,ì¹´ë“œ,user_360,2022-09-11 20:57:37,2023-07-19 21:44:01,311
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,ë°°ê³ íŒ¡,13.85,ì¹´ë“œ,user_36,2023-03-30 03:50:31,2023-06-03 00:40:53,64
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,ë°°ê³ íŒ¡,10.90,ì•±ê²°ì œ,user_65,2023-08-18 10:46:28,2023-08-18 10:46:28,0
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,ì—¬ê¸°ì—¬,14.96,ì¹´ë“œ,user_176,2022-09-10 03:10:01,2023-08-11 09:58:27,335
...,...,...,...,...,...,...,...,...,...,...
995,2022-10-10 03:13:30,2022-10-10 04:13:48,2022-10-10 04:15:37,ë°°ê³ íŒ¡,1.79,í˜„ê¸ˆ,user_186,2022-10-10 03:13:30,2023-07-02 08:17:08,265
996,2023-02-03 12:47:19,2023-02-03 13:11:46,2023-02-03 13:12:57,ë°°ê³ íŒ¡,15.55,ì¹´ë“œ,user_239,2023-02-03 12:47:19,2023-03-04 04:45:27,28
997,2023-01-05 21:28:58,2023-01-05 21:57:41,2023-01-05 21:57:44,ë°°ê³ íŒ¡,8.33,í˜„ê¸ˆ,user_264,2022-10-31 18:31:05,2023-04-27 05:55:39,177
998,2023-06-15 03:56:42,2023-06-15 04:14:24,2023-06-15 04:18:38,ì—¬ê¸°ì—¬,8.20,ì•±ê²°ì œ,user_229,2023-06-15 03:56:42,2023-06-15 03:56:42,0
999,2023-08-02 20:53:53,2023-08-02 22:04:06,2023-08-02 22:09:22,ì—¬ê¸°ì—¬,5.33,ì¹´ë“œ,user_148,2023-02-07 17:17:31,2023-08-02 20:53:53,176

### ğŸŠ Section26. ë‚ ì§œì™€ ì‹œê°„ ì •ë³´ ë³€í™˜, ë¹„ìœ¨

#### â˜‘ï¸ <span style='background-color: #fff5b1'>.dt / .dt.to_period() / .idxmax()</span>
<img src="images/q11.png" width="575"/>

In [304]:
import pandas as pd
df = pd.read_csv("delivery_time.csv")

# ì£¼ë¬¸ì´ ê°€ì¥ ë§ì´ ë°œìƒí•œ ì—°-ì›” ì°¾ê¸°
df['ì£¼ë¬¸ì‹œê°„'] = pd.to_datetime(df['ì£¼ë¬¸ì‹œê°„'])
df['ì£¼ë¬¸ì›”'] = df['ì£¼ë¬¸ì‹œê°„'].dt.to_period('M')
year_month = df['ì£¼ë¬¸ì›”'].value_counts().idxmax()
year_month

# í•´ë‹¹ ì—°-ì›”ì— ë°°ê³ íŒ¡ ì•±ì„ í†µí•œ ì£¼ë¬¸ ì¤‘, 'ì•±ê²°ì œ'ë¡œ ê²°ì œëœ ì£¼ë¬¸ì˜ ë¹„ìœ¨ ê³„ì‚° (ë°˜ì˜¬ë¦¼, ì†Œìˆ˜ ë‘˜ì§¸ìë¦¬ê¹Œì§€)
cond1 = df['ì£¼ë¬¸ì›”'] == year_month
cond2 = df['ì•±ì¢…ë¥˜'] == 'ë°°ê³ íŒ¡'
filtered_df = df[cond1 & cond2]

cond3 = filtered_df['ê²°ì œì¢…ë¥˜'] == 'ì•±ê²°ì œ'
result = len(filtered_df[cond3])/len(filtered_df)
print(round(result, 2))

0.31

### ğŸ¥¦ Section27. ì‹œê°„ ë²”ìœ„, ì†ë„(km/h)

In [319]:
import pandas as pd
df = pd.read_csv("delivery_time.csv")

# datetime ìë£Œí˜•ìœ¼ë¡œ ë³€ê²½
df['ì£¼ë¬¸ì‹œê°„'] = pd.to_datetime(df['ì£¼ë¬¸ì‹œê°„'])
df['ì‹¤ì œë„ì°©ì‹œê°„'] = pd.to_datetime(df['ì‹¤ì œë„ì°©ì‹œê°„'])

# ì ì‹¬ì‹œê°„ ì£¼ë¬¸ ì„ íƒ (10<=ì ì‹¬ì‹œê°„<13)
df['ì‹œê°„'] = df['ì£¼ë¬¸ì‹œê°„'].dt.hour
cond1 = df['ì‹œê°„'] >= 10
cond2 = df['ì‹œê°„'] < 13
df = df[cond1 & cond2]

# ì ì‹¬ì‹œê°„ ì£¼ë¬¸ ê±´ ì¤‘ ê³¼ì†(í‰ê·  ì†ë„ 50km/h ì´ìƒ)í•˜ëŠ” ì£¼ë¬¸ ìˆ˜
df['ë°°ë‹¬ì‹œê°„'] = df['ì‹¤ì œë„ì°©ì‹œê°„']-df['ì£¼ë¬¸ì‹œê°„']
df['ë°°ë‹¬ì‹œê°„'] = df['ë°°ë‹¬ì‹œê°„'].dt.total_seconds()/60/60 # ì´ˆ -> ì‹œê°„ ë‹¨ìœ„ ë³€ê²½
df['ì†ë„'] = df['ê±°ë¦¬']/df['ë°°ë‹¬ì‹œê°„']
print(sum(df['ì†ë„']>=50))

1

### ğŸŠ Section28. ë‚ ì§œì™€ ì‹œê°„, ë¬¸ìì—´

#### â˜‘ï¸ <span style='background-color: #fff5b1'>df.groupby('ì—´ì´ë¦„').size() / Series.value_counts()</span>
<img src="images/q12.png" width="500"/>

In [330]:
import pandas as pd
df = pd.read_csv("delivery_time.csv")

# ì£¼ë¬¸ì›”ì„ ê¸°ì¤€ìœ¼ë¡œ ë¹ˆë„ ìˆ˜(ì£¼ë¬¸ íšŸìˆ˜) ê³„ì‚°
df['ì£¼ë¬¸ì‹œê°„'] = pd.to_datetime(df['ì£¼ë¬¸ì‹œê°„'])
df['ì£¼ë¬¸ì›”'] = df['ì£¼ë¬¸ì‹œê°„'].dt.to_period('M')
count_month = df.groupby('ì£¼ë¬¸ì›”').size()
count_month

# ì£¼ë¬¸ íšŸìˆ˜ê°€ ê°€ì¥ ë§ì€ ì›”ì˜ ì¸ë±ìŠ¤ ì¶”ì¶œ
year_month = count_month.idxmax()

# ë¬¸ìì—´ë¡œ ë³€ê²½ ë° í•˜ì´í”ˆ(-) ì œê±°
year_month = str(year_month)
result = year_month.replace('-', '')
print(result)

202209

### ğŸ¥¦ Section29. í•¨ìˆ˜, ì›”ë³„ ì§‘ê³„

In [343]:
import pandas as pd
df = pd.read_csv("delivery_time.csv")

# ë°°ë‹¬ë£Œ ê³„ì‚° í•¨ìˆ˜ ì •ì˜
def delivery_fee(distance):
    if distance < 5:
        return 2000
    elif distance < 10:
        return 4000
    elif distance < 15:
        return 6000
    elif distance < 20:
        return 8000

# ê° ì£¼ë¬¸ì— ëŒ€í•œ ë°°ë‹¬ë£Œ ê³„ì‚°
df['ë°°ë‹¬ë£Œ'] = df['ê±°ë¦¬'].apply(delivery_fee)

# ì›”ë³„ ë°°ë‹¬ë£Œ ì´í•© ì§‘ê³„
df['ì£¼ë¬¸ì‹œê°„'] = pd.to_datetime(df['ì£¼ë¬¸ì‹œê°„'])
df['ì—°ë„ì›”'] = df['ì£¼ë¬¸ì‹œê°„'].dt.to_period('M')
monthly = df.groupby('ì—°ë„ì›”')['ë°°ë‹¬ë£Œ'].sum()

# ë°°ë‹¬ë£Œê°€ ê°€ì¥ ë§ì´ ë°œìƒí•œ ì›” ì°¾ê³ , ê·¸ ì›”ì˜ ì´ ë°°ë‹¬ë£Œ ì •ìˆ˜ë¡œ êµ¬í•˜ê¸°
max_fee_month = monthly.idxmax()
max_fee_value = monthly[max_fee_month]
print(max_fee_value)

448000

### ğŸŠ Section30. ì£¼ë§, í‰ì¼ êµ¬ë¶„

#### â˜‘ï¸ <span style='background-color: #fff5b1'>ìì£¼ ì“°ì´ëŠ” .dt ì†ì„± ëª¨ìŒ</span>
<img src="images/q13.png" width="520"/>

In [355]:
import pandas as pd
df = pd.read_csv("delivery_time.csv")

# ì£¼ë§ ì£¼ë¬¸ ê±´ìˆ˜, í‰ì¼ ì£¼ë¬¸ ê±´ìˆ˜ì˜ ì°¨ì´ë¥¼ ì ˆëŒ“ê°’ìœ¼ë¡œ êµ¬í•˜ê¸°
# ì£¼ë§/í‰ì¼ êµ¬ë¶„ - 0:ì›”, 1~4:í™”~ê¸ˆ, 5:í† , 6:ì¼
df['ì£¼ë¬¸ì‹œê°„'] = pd.to_datetime(df['ì£¼ë¬¸ì‹œê°„'])
df['dayofweek'] = df['ì£¼ë¬¸ì‹œê°„'].dt.dayofweek
df['ì£¼ë§'] = df['dayofweek'] >= 5

# ì£¼ë§ ê°œìˆ˜, í‰ì¼ ê°œìˆ˜ ê³„ì‚°
weekend = sum(df['ì£¼ë§'])
weekday = sum(~df['ì£¼ë§'])

# ì°¨ì´ ì ˆëŒ€ê°’
print(abs(weekend-weekday))

412

### ğŸŠ Section31. ë¬¸ìì—´, í˜• ë³€í™˜

#### â˜‘ï¸ <span style='background-color: #fff5b1'>df.nlargest() / df.sort_values() / .quantile()</span>
<img src="images/q14.png" width="550"/>
<img src="images/q15.png" width="550"/>

In [359]:
import pandas as pd
df = pd.read_csv("delivery_time.csv")

# ë¬¸ì ìŠ¬ë¼ì´ì‹±
df['user_int'] = df['user'].str[5:]

# ìë£Œí˜• ë³€í™˜
df['user_int'] = df['user_int'].astype(int)

# í•©ê³„
print(df['user_int'].sum())

261387

### ğŸ¥¦ Section32. í•©ê³„(ì—´ ë°©í–¥), ìƒìœ„ ê°’ ì„ íƒ

In [371]:
import pandas as pd
df = pd.read_csv("school_data.csv")

df['total_score'] = df[['ìˆ˜í•™', 'ì˜ì–´', 'êµ­ì–´']].sum(axis=1)

# sort_values()ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ 10ê°œ ì¶”ì¶œ
top10_1 = df.sort_values('total_score', ascending=False).head(10)
print(round(top10_1['ìˆ˜í•™'].mean()))

# nlargest()ë¡œ ìƒìœ„ 10ê°œ ë°”ë¡œ ì¶”ì¶œ
top10_2 = df.nlargest(10, 'total_score')
print(round(top10_2['ìˆ˜í•™'].mean()))

82
82

### ğŸŠ Section33. ë°ì´í„°í”„ë ˆì„ ì¬êµ¬ì¡°í™”

#### â˜‘ï¸ <span style='background-color: #fff5b1'>pd.melt(df) / df.melt()</span>
<img src="images/q16.png" width="570"/>

In [391]:
import pandas as pd
df = pd.read_csv("school_data.csv")

# ì´ë¦„ì„ ìœ ì§€í•˜ë©´ì„œ ìˆ˜í•™, ì˜ì–´, êµ­ì–´ í˜•íƒœ ë³€ê²½
melted_df = df.melt(id_vars=['ì´ë¦„'], value_vars=['ìˆ˜í•™', 'ì˜ì–´', 'êµ­ì–´'], var_name='ê³¼ëª©', value_name='ì ìˆ˜')

# ê°€ì¥ ì‘ì€ ê°’ 25ê°œì˜ í•©
result = melted_df['ì ìˆ˜'].nsmallest(25).sum()
print(result)
melted_df

420

     ì´ë¦„  ê³¼ëª©  ì ìˆ˜
0   ê°•ì•„ì§€  ìˆ˜í•™  66
1   ê³ ì–‘ì´  ìˆ˜í•™  92
2    í† ë¼  ìˆ˜í•™  98
3    ì‚¬ì  ìˆ˜í•™  17
4   í˜¸ë‘ì´  ìˆ˜í•™  83
..  ...  ..  ..
85   íƒ€ì¡°  êµ­ì–´  49
86  ê°œêµ¬ë¦¬  êµ­ì–´  86
87  í ë¦¬ì¹¸  êµ­ì–´   3
88  ëŒê³ ë˜  êµ­ì–´  67
89    ë§¤  êµ­ì–´  11

[90 rows x 3 columns]

### ğŸŠ Section34. ë°ì´í„° í•©ì¹˜ê¸°(concat) => ë‹¨ìˆœë³‘í•©

#### â˜‘ï¸ <span style='background-color: #fff5b1'>pd.concat()</span>
<img src="images/q17.png" width="570"/>

In [404]:
import pandas as pd
df = pd.read_csv("school_data.csv")
df_science = pd.read_csv("school_data_science.csv")

# ë‘ íŒŒì¼ì„ í•™ìƒ ìˆœì„œë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©í•˜ê¸°
df = pd.concat([df, df_science], axis=1)

# í•™ìƒë³„ë¡œ ìˆ˜í•™, ì˜ì–´, êµ­ì–´, ê³¼í•™ ì ìˆ˜ì˜ í‰ê·  êµ¬í•˜ê¸°
df['í‰ê· '] = df[['ìˆ˜í•™', 'ì˜ì–´', 'êµ­ì–´', 'ê³¼í•™']].mean(axis=1)

# í‰ê·  ì ìˆ˜ê°€ 60ì  ì´ìƒì¸ ì¸ì› ìˆ˜ ê³„ì‚°í•˜ê¸°
result = sum(df['í‰ê· ']>=60)
print(result)

9

### ğŸŠ Section35. ë°ì´í„° í•©ì¹˜ê¸°(merge) => ê¸°ì¤€ë³‘í•©

#### â˜‘ï¸ <span style='background-color: #fff5b1'>pd.merge() vs pd.concat()</span>
<img src="images/q18.png" width="530"/>
<img src="images/q19.png" width="550"/>

In [410]:
import pandas as pd
df = pd.read_csv("school_data.csv")
df_social = pd.read_csv("school_data_social.csv")

# 'ì´ë¦„'ì„ ê¸°ì¤€ìœ¼ë¡œ ë‘ ë°ì´í„°í”„ë ˆì„ í•©ì¹˜ê¸°
merged_df = pd.merge(df, df_social, on='ì´ë¦„')

# êµì‚¬ í•„í„°ë§
cond1 = merged_df['ì˜ì–´êµì‚¬'] == 'ì¥ì„ ìƒ'
cond2 = merged_df['ì‚¬íšŒêµì‚¬'] == 'ì˜¤ì„ ìƒ'

# í•„í„°ë§ëœ ë°ì´í„°ì—ì„œ ìˆ˜í•™ì ìˆ˜ í•©
print(merged_df[cond1 & cond2]['ìˆ˜í•™'].sum())

602

### ğŸŠ Section36. ì¡°ê±´ë³„ ë³€í™˜(transform)

#### â˜‘ï¸ <span style='background-color: #fff5b1'>transform() vs apply()</span>
<img src="images/q20.png" width="590"/>

In [426]:
import pandas as pd
df = pd.read_csv("sales.csv")

# ì§€ì—­ë³„ í‰ê·  íŒë§¤ê¸ˆì•¡ ê³„ì‚° í›„, ê²°ì¸¡ê°’ ëŒ€ì²´ (transform ì‚¬ìš©)
m = df.groupby('ì§€ì—­ì½”ë“œ')['íŒë§¤ê¸ˆì•¡'].transform('mean')
df['íŒë§¤ê¸ˆì•¡'] = df['íŒë§¤ê¸ˆì•¡'].fillna(m)

# ê° ê±°ë˜ë³„ í•´ë‹¹ ì§€ì—­ì˜ í‰ê·  íŒë§¤ê¸ˆì•¡ êµ¬í•˜ê¸°
df['ì§€ì—­í‰ê· '] = df.groupby('ì§€ì—­ì½”ë“œ')['íŒë§¤ê¸ˆì•¡'].transform('mean')

# íŒë§¤ê¸ˆì•¡ê³¼ ì§€ì—­í‰ê· ì˜ ì°¨ì´(ì ˆëŒ€ê°’) ê³„ì‚°í•˜ì—¬ ìƒˆë¡œìš´ ì»¬ëŸ¼ ìƒì„±
df['ì°¨ì´'] = abs(df['íŒë§¤ê¸ˆì•¡']-df['ì§€ì—­í‰ê· '])

# ì§€ì—­ë³„ ì°¨ì´ í‰ê·  ê³„ì‚° í›„, ìµœëŒ€ê°’ì„ ê°€ì§€ëŠ” ì§€ì—­ì½”ë“œ ì¶œë ¥
print(df.groupby('ì§€ì—­ì½”ë“œ')['ì°¨ì´'].mean().idxmax())

103

### ğŸŠ Section37. ì¬êµ¬ì¡°í™”(unstack), ë§µí•‘

#### â˜‘ï¸ <span style='background-color: #fff5b1'>map() / unstack()</span>
<img src="images/q21.png" width="500"/>
<img src="images/q22.png" width="470"/>

In [436]:
import pandas as pd
df = pd.read_csv('store_sales.csv')

# ë§¤ì¶œì•¡ ê³„ì‚°
df['ë§¤ì¶œì•¡'] = df['íŒë§¤ìˆ˜ëŸ‰']*df['ë‹¨ê°€']
df

# ìš”ì¼ë³„ í‰ì¼/ì£¼ë§ êµ¬ë¶„ ë”•ì…”ë„ˆë¦¬
day_dic = {'ì›”':'í‰ì¼', 'í™”':'í‰ì¼', 'ìˆ˜':'í‰ì¼', 'ëª©':'í‰ì¼', 'ê¸ˆ':'í‰ì¼',
           'í† ':'ì£¼ë§', 'ì¼':'ì£¼ë§'}

# ë§¤í•‘ì„ í™œìš©í•˜ì—¬ ìƒˆë¡œìš´ ì—´ ì¶”ê°€
df['êµ¬ë¶„'] = df['ìš”ì¼'].map(day_dic)

# ë§¤ì¥ì½”ë“œ & í‰ì¼/ì£¼ë§ë³„ ë§¤ì¶œì•¡ í•©ê³„
df1 = df.groupby(['ë§¤ì¥ì½”ë“œ', 'êµ¬ë¶„'])['ë§¤ì¶œì•¡'].sum().unstack()

# í‰ì¼ê³¼ ì£¼ë§ ë§¤ì¶œì•¡ ì°¨ì´ ê³„ì‚°
df1['ì°¨ì´'] = abs(df1['ì£¼ë§']-df1['í‰ì¼'])

# ì „ì²´ ë§¤ì¥ ì¤‘ ë§¤ì¶œì•¡ í¸ì°¨ê°€ ê°€ì¥ í° ë§¤ì¥ì˜ í¸ì°¨ ê°’ ì°¾ê¸°
print(int(df1['ì°¨ì´'].max()))

241975

### ğŸŠ Section38. í”¼ë²—í…Œì´ë¸”

#### â˜‘ï¸ <span style='background-color: #fff5b1'>pd.pivot_table()</span>
<img src="images/q23.png" width="600"/>
<img src="images/q24.png" width="490"/>

In [466]:
import pandas as pd
df = pd.read_csv("region_sales.csv")

# í”¼ë²— í…Œì´ë¸” ìƒì„±: Region, Channelë³„ë¡œ Productë³„ Sales í•©ê³„ ê³„ì‚°
pivot_table = pd.pivot_table(df, index=['Region', 'Channel'], columns='Product',
                             values='Sales', aggfunc='sum')

# Aë¹„ìœ¨ ê³„ì‚°: ì œí’ˆ Aì˜ íŒë§¤ì•¡ Ã· ì´ë§¤ì¶œ
pivot_table['ì´ë§¤ì¶œ'] = pivot_table['A'] + pivot_table['B']
pivot_table['Aë¹„ìœ¨'] = pivot_table['A']/pivot_table['ì´ë§¤ì¶œ']

# ìµœëŒ€ Aë¹„ìœ¨ ê°’ ì¶œë ¥
print(round(pivot_table['Aë¹„ìœ¨'].max(), 2))

0.51

### ğŸŠ Section39. ì¬êµ¬ì¡°í™”(melt), ê·¸ë£¹í•‘

#### â˜‘ï¸ <span style='background-color: #fff5b1'>pd.melt()</span>
<img src="images/q25.png" width="530"/>

In [495]:
import pandas as pd
df = pd.read_csv('monthly_sales.csv')

# meltë¡œ Wide(ê°€ë¡œ) â†’ Long(ì„¸ë¡œ) ë³€í™˜
melted_df = pd.melt(df, id_vars='Region', value_vars=['Jan', 'Feb', 'Mar'],
                    var_name='Month', value_name='Sales')

# Region, Monthë³„ ë§¤ì¶œ í•©ê³„ êµ¬í•˜ê¸°
df1 = melted_df.groupby(['Region', 'Month'])['Sales'].sum().reset_index()

# ë§¤ì¶œ í•©ê³„ê°€ 1400ì„ ì´ˆê³¼í•˜ëŠ” ê±´ìˆ˜
print(sum(df1['Sales']>1400))

6

In [497]:
df.head()

  Region  Jan  Feb  Mar
0  Seoul  120  135  110
1  Seoul   95  108  145
2  Seoul  200  179  140
3  Seoul  150  155  170
4  Seoul  110   98  190

In [489]:
df.shape

(50, 4)

In [486]:
melted_df

      Region Month  Sales
0      Seoul   Jan    120
1      Seoul   Jan     95
2      Seoul   Jan    200
3      Seoul   Jan    150
4      Seoul   Jan    110
..       ...   ...    ...
145  Daejeon   Mar    170
146  Daejeon   Mar    115
147  Daejeon   Mar    140
148  Daejeon   Mar    105
149  Daejeon   Mar    175

[150 rows x 3 columns]